[2021-06-03 00:08] Luxed commented on #1349
Ah, I see!
I'll look into that when I can, but for now, the other improvements are more important, so I'll just make a PR for that and I'll make a PR for the locals later.

My pleasure!

[2021-06-03 05:13] kuznetsss commented on #1324
It resolves the issue. Thank you.

[2021-06-03 10:45] skanev commented on #1314
I apologize for being slow, but I generally don't understand the definition of "semantic highlighting" here. I take it to mean "talk to LSP to get better highlighting info", but I'm probably wrong. Maybe I should be thinking "handle various non-context-free parsing" which is probably closer to what you've been saying.

Here's where I fear I'm not expressing myself correctly enough, because I don't

[2021-06-03 11:39] theHamsta commented on #1314
I don't care. We just set highlight groups on want the Ruby parser gives us and this is not very expressive at the moment.

Atom has semantic highlighting with locals and we need this feature to be on-par with it. It is not related with LSP as Atom does not use it for highlighting. But it can look in the local context whether something is a function or a local variable. We first need to work on th

[2021-06-03 11:48] theHamsta commented on #1314
You can of course write your own parser or custom queries that define exactly what you want. If it improves highlighting it is very likely to be merged. Again you can also discuss with the language maintainer @TravonteD

[2021-06-03 12:24] #1324 closed

[2021-06-03 13:03] theHamsta commented on #1314
Just as heads-up. Did you try the semantic highlighting with `is?` I guess they have been in the repo for Ruby for a while. It should also be pretty easy to add them again. But they are deactivated for performance reasons that can hopefully be solved by #1120

[2021-06-03 21:41] wilkinson4 opened #1359 "Error running `:check_health nvim_treesitter` attempt to concatenate local 'version' (a nil value)"
I am getting the following error when trying to run `:checkhealth nvim_treesitter` in an elixir repo.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

health#nvim_treesitter#check
========================================================================
  - ERROR: Failed to run healthcheck for "nvim_treesitter" plugin. Exception:
    function health#check[21]..health#nvim_treesitter

[2021-06-04 05:46] #1359 closed

[2021-06-04 14:29] skanev commented on #1314
So, I fiddled with it, and here's what's happening.

First, I reintroduces the query like this:

[code]

Then I defined `#is-not?` to be what `#is?` is, but negated:

[code]

Trying it out at a simple case works!

<img width="178" alt="works" src="https://user-images.githubusercontent.com/10382/120816018-0a453100-c559-11eb-9288-d7bb0bdf39d8.png">

But playing with it, we get into trouble:

<img wi

[2021-06-04 14:56] theHamsta commented on #1314
This is what I told you before the definition resolution doesn't take the position of definition into account. I can make this per-language configurable in the big definitions PR. At least the performance should be fixed by the PR.

The `set!` comes from here: https://github.com/nvim-treesitter/nvim-treesitter/blob/8e53e706e56dced8a686c522317642e9cc1e7a0e/lua/nvim-treesitter/query.lua#L165 and pre

[2021-06-04 15:43] skanev commented on #1314
Which is "the big definitions PR"? #1120?

Cool, but then do we need a third type of scope to handle Ruby? Namely, `def`, `module` and `class` should just create a new scope.

[2021-06-04 16:08] crthpl opened #1363 "Highlighting does not work with V parser."
**Describe the bug**

Using the [V](https://github.com/vlang/v) [Treesitter Parser](https://github.com/nedpals/tree-sitter-v) does not work (no highlighting) and `:checkhealth` reports no errors other than parser features being `. . . . .` (No features present)

**To Reproduce**

Steps to reproduce the behavior:

1. Add this to `init.vim`:
[code]

2. `:TSInstall v` (For some reason, `:TSUpdate` wi

[2021-06-04 16:44] theHamsta commented on #1314
yes

This would be an option

[2021-06-04 16:52] theHamsta commented on #1363
Most features need queries. You need to add them here  https://github.com/nvim-treesitter/nvim-treesitter/tree/master/queries for v.

The parser itself seems to work for me.

[2021-06-04 19:04] crthpl commented on #1363
I have made a small `highlights.scm` in `~/.vim/plugged/nvim-treesitter/queries/v`:
[code]
`:TSPlaygroundToggle` still shows the correct tree.

However, it still does not highlight and `:TSHighlightCapturesUnderCursor` still shows `No highlight groups found`.
`:checkhealth` now shows `✓ . . . .` for V now, though.

[2021-06-05 15:47] #1284 closed

[2021-06-05 18:32] theHamsta commented on #1363
![image](https://user-images.githubusercontent.com/7189118/120901761-08549e00-c63d-11eb-9d61-24105aac0ccf.png)

You query works for me. I have put
[code]
into my init.vim

[2021-06-05 23:14] sinetoami opened #1364 "ERROR: tsx(highlights): query: invalid syntax at position 5925"
**Describe the bug**

When I open any `tsx` file the highlight breaks and I get the above error in every line:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
Any `tsx` file

2. Click on '....'
3. Scroll down to '....'
4. See error
![2021-06-05-200545_1829x457_scrot](https://user-images.githubusercontent.com/16659014/120907758-95e2be80-c63a-11eb-8d69-dbe500a4745a.png)

*

[2021-06-06 02:24] yingzhu146 commented on #994
@06kellyjac yeah like I said, I'm 100% sure that it's the same tree-sitter that was used to compile nvim since I took the very exact tree-sitter commit from nvim's makefile to compile tree-sitter (both 0.19.4). I'm using MacOS on an M1.

The error that I see for all tree-sitter grammars (here python as an example)
[code]

All other programs are happy with treesitter, e.g. sniprun

[code]
health#sn

[2021-06-07 00:45] Razzeee commented on #529
Interesting, I guess these can't just be picked up from the tree-sitter repos? Aren't scm definitions shipped in a compiled parser? Never looked into that part of tree-sitter so far.

I also think only `highlights.scm`, `locals.scm` and `injections.scm` are official? That leaves `folds.scm` and `indents.scm` which seem to be invented here then? Are there any docs for these?

[2021-06-07 02:57] yingzhu146 commented on #994
ok this took me way too long but i figured it out: `.deps` still contained treesitter from an older version. when building the current version with the most recent commit, `.deps` wasn't rebuilt, so while the CMakeLists indicated that the new treesitter would be used, in fact, the old was still being used. `rm -rf`'ing the `.deps` and rebuilding neovim solved the issue

[2021-06-07 09:44] weilbith commented on #1168
How does it look? Good to merge? 🙃

[2021-06-07 15:07] kyazdani42 commented on #1364
maybe just update your tsx parser `:TSUpdate tsx`

[2021-06-07 15:26] sinetoami commented on #1364
I do @kyazdani42. Do not fix it. That's why I opened the issue. :(

[2021-06-07 15:36] kyazdani42 commented on #1364
did you update properly:
-1) nvim-treesitter version ?
-2) neovim ?
make sure you use the latest master for both

[2021-06-07 16:44] non25 opened #1368 "svelte indent issues"
**Describe the bug**

Indent issues, there's probably more, I'll add them later if I find any.

- Text under the node with any attribute shifts one indent level left by using `=`.
- Indent messes up when doing multiline attrs manually.
- Sometimes second enter in insert mode (after a blank line) shifts one indent level left.
- Nested ifs and eachs don't autoindent properly as I type, have to use `

[2021-06-07 16:50] vigoux commented on #529
The actual differences are quite more deep than that tbh.
When you use `tree-sitter` (the cli), this is actually some kind of "default implementation", using the library (`libtree-sitter`), to showcase what you can do with the lib, especially through the Rust bindings.

We, at `nvim-treesitter`, provide some kind of "alternative implementation", where we use the library, but in a different way. Al

[2021-06-07 16:52] vigoux commented on #1168
Not really sure, I think this was more intended as a quick hack to enable the support of solidity.
No PR open regarding this if I remember well.

[2021-06-07 16:56] smarquez1 commented on #1168
Sorry guys, didn't have the time to check if this works correctly and/or create a PR and I'm not working on Solidity anymore. I think the issue could still be useful for people who want to add Solidity treesitter support for Neovim. Did you try it @weilbith ?

[2021-06-07 17:02] smarquez1 commented on #1168
OK, I just tried it and it seems to be working properly after setting `set ft=solidity`.
The current status seems to be that the parser is working correctly (as you can see in the screenshot below) but the highlights are still not implemented, but that work is being done here: https://github.com/JoranHonig/tree-sitter-solidity/pull/12

![Captura de Pantalla 2021-06-07 a la(s) 19 00 08](https://use

[2021-06-07 17:19] vigoux commented on #1010
Hi everyone, a PR recently landed attempting to fix this issue.
If it is fixed now, could you confirm by closing this issue ?

[2021-06-07 17:20] vigoux commented on #1319
That's the weird part, I don't really know when the fold should be updated, and even if it is normal behavior to have to hit `zx`.

Really, I am not even sure it is our fault to be honest.

[2021-06-07 17:51] kyazdani42 commented on #1010
@vigoux it's not fixed yet

[2021-06-07 18:28] vigoux commented on #1010
Oops sorry for that then 😁

[2021-06-07 20:39] sinetoami commented on #1364
@kyazdani42, before open this issue I do that.

I update right now to:

The issue persists. Even with the minimal configuration.

[2021-06-07 22:37] Razzeee commented on #529
To reiterate, I can't just use https://github.com/elm-tooling/tree-sitter-elm/tree/main/queries but need to maintain different versions of these for `nvim-treesitter`?

What does that mean, for somebody not using nvim but trying to support it.

[2021-06-08 00:58] yujinyuz opened #1370 "javascript try..catch block not indenting properly"
**Describe the bug**

Javascript catch block is not indenting properly

**To Reproduce**

Steps to reproduce the behavior:

1. Create a `sample.js` file
2. Create a `try..catch` block.
3. Put cursor under the last `}` and press <kbd>O</kbd>

**Expected behavior**
It should place the cursor properly when pressing <kbd>O</kbd>

A clear and concise description of what you expected to happen.

**Outpu

[2021-06-08 03:18] crthpl commented on #1363
@theHamsta  Do I have to do anything to load my query? I have just put it in the `~/.vim/plugged/nvim-treesitter/queries/v` folder. Although `:checkhealth` does say that I have highlighting.

[2021-06-08 06:01] vigoux commented on #1370
I don't see `try` nor `catch` in `ecma`'s, `indent.scm` and think this might be the issue, I am marking this as an enhancement then, as it is only a missing match in a query.

[2021-06-08 06:05] vigoux commented on #529
Most of the time you can't as we use different capture names mostly.

Sorry heh, I can't infer that just by looking at your profile picture pal!
The queries are almost the same than tree-sitter built-in ones.
You may want to look at the `CONTRIBUTING` for more information too.

[2021-06-08 06:39] kyazdani42 commented on #1370
this is the same kind of issue that arise with rust/go else branches, trying to indent try or catch clause will not change anything, i think it's a bug we need to fix inside the indent algorithm.

[2021-06-08 06:43] kyazdani42 commented on #1364
Hum, i'm not too sure how to help here, i have the almost same versions but no issues at all. Did you by any chance, overwrote the tsx highlight query ?

[2021-06-08 07:44] Ogromny opened #1371 "Strange line before some html block with `tree-sitter-html`"
**Describe the bug**

I have these strange lines before some block on every `html` file:
![bug](https://i.imgur.com/cu6VUXg.png)

I think the bug is due to `tree-sitter-html` trying to apply to every `text` node, each `@text.*` corresponding highlight group:
![bug](https://i.imgur.com/2M3Qdu2.png)

**To Reproduce**

install `nvim-treesitter`, `tree-sitter-html`, turn on highlighting for `html`, op

[2021-06-08 11:16] sinetoami commented on #1364
hey @kyazdani42, it's weird but fix it.
I notice one thing. Yes, I overwrote the highlight query. But before does a fresh install of all my Neovim environment I've tried to remove the highlight query from my nvim directory and didn't fix it. After doing the new fresh install and recompile the plugin it works without the highlight query.

Thanks for guides me to solve this problem!
Cheers

[2021-06-08 11:16] #1364 closed

[2021-06-08 13:48] stsewd commented on #1371
I have experienced this as well, queries look correct in the playground https://github.com/nvim-treesitter/nvim-treesitter/blob/master/queries/html/highlights.scm. Is like all highlights under `@text.*` are being captured.

[2021-06-08 14:06] Ogromny commented on #1371
Yep and it only happen with html, did you manage to fix it ?

[2021-06-08 14:10] stsewd commented on #1371
Was playing around with the queries without luck, maybe the problem is somewhere else.

[2021-06-08 16:22] akinsho commented on #1327
@stsewd I finally tracked this down to not having `syntax enable` in my `init.lua` I removed it due to https://github.com/neovim/neovim/pull/14361 assuming that this meant I no longer had to set this in my config but without it I think since `treesitter` is being setup *before* that runs then something is causing syntax to be set 🤔 . Just adding this here in case someone digs this up in the future

[2021-06-08 16:23] crthpl commented on #1363
I figured it out: I hadn't installed the highlighting module.

[2021-06-08 16:23] #1363 closed

[2021-06-08 20:42] zoopp commented on #698
I don't fully understand how these things work so I might be totally wrong but, In the absence of something better, https://github.com/nvim-treesitter/nvim-treesitter/pull/1042 seems to help with the original issue.

Are there any downsides to having the `additional_vim_regex_highlighting` option always set to true?

[2021-06-08 21:11] theHamsta commented on #698
@zoopp you will automatically also get the old syntax highlighting running while usually most tree-sitter users want to use tree-sitter highlighting instead of regex highlighting.

[2021-06-09 01:03] Pocco81 commented on #651
I'm experiencing the same issue here...

[2021-06-09 01:47] kdurant opened #1372 "Can't load nvim-treesitter"
os : win10 wsl1
nvim : nightly
minimal vimrc
[code]
![QQ截图20210609094736](https://user-images.githubusercontent.com/2704364/121279810-c27f2a80-c907-11eb-8bde-7a1a3e0d650d.png)

[2021-06-09 06:10] vigoux commented on #1372
Hi, this it looks like your version of nvim is too old.
Could you show your version number here?

[2021-06-09 06:23] vigoux commented on #651
Which steps are you following to encounter the issue?
As mentioned throughout this thread, we need clear repro steps, otherwise we can't do anything.

[2021-06-09 06:25] vigoux commented on #698
I forgot to come back to you, but I am working on it (among other things).
I am a stranger to the part of the code handling this specific part, but I promise I'll try my best.

[2021-06-09 06:33] desprit commented on #651
@vigoux

It happens to me very often when I select several lines and delete. E.g. `V10jd`. The problem is I can't reproduce it. It happens randomly.

[2021-06-09 06:36] vigoux commented on #651
I'll try and see if I can reproduce with, that only, if you find a set of text reproducing the issue, please send it to us here, it may be dependent on the text you select.

[2021-06-09 08:26] luisiacc commented on #1118
@cbows did you find a way around this that is not disabling treesitter ?

[2021-06-09 08:56] weilbith commented on #698
I'm not fully up to date with the earlier mentioned `spellsitter.nvim` plugin, but the last time I looked at it, it has become very small and if I'm not mistaken actually re-uses the original NeoVim `C` language tools to identify spelling mistakes. Sounds quite neat to me.
What would be the alternative approach to tackle this problem? 🤔

[2021-06-09 09:25] weilbith commented on #698
So I assume it is somehow event triggered and then uses tree-sitter to identify the text which is "allowed" to be checked. It calls the NeoVim original spell checking for those chunks and applies custom highlighting (in fact re-using the native highlight groups) to the sections that have bad spelling.
Sounds pretty lean and straight forward to me. A good solution. So my question is if this issue h

[2021-06-09 09:32] akinsho commented on #698
@weilbith I think this issue might not be one for this repository but in which case is definitely one for neovim proper. Vim has always had spell functionality which has been super useful, with the move to treesitter that has essentially gone away meaning anyone using treesitter has lost native nvim support for spellchecking. I think an external plugin is great but ultimately part of adding treesi

[2021-06-09 09:35] weilbith commented on #698
Very good point! 👍🏾

[2021-06-09 14:32] lewis6991 commented on #698
spellsitter.nvim uses the same mechansim that `vim.treesitter.highlighter` uses. When each line is being redrawn, it looks to see if the line contains any comments, if it does it calls neovims spellcheck code (via FFI) and adds ephemeral extmarks to the mispelled words.

I think the implementation is probably good enough to be ported over here. Longer term this should be integrated into `vim.trees

[2021-06-10 10:09] itmecho opened #1376 "vim-prettier causes `end_col` errors."
**Describe the bug**
I have a `BufWritePre` autocommand on typescript files to run the `Prettier` command. When the formatter makes changes, the highlighting breaks from the point of the first change with the following error message:
[code]

Reopening the file with `:edit` then fixes the highlighting. This only seems to be happening with `Prettier` and typescript, I don't see this issue with go an

[2021-06-10 15:25] horseinthesky opened #1377 "YAML indentation issue"
**Describe the bug**

YAML indentation does indentation wrong.

**To Reproduce**
Here is an example file:
[code]

Issue one:
* put coursor in ``1 of `value1`
* press `a` to enter insert mode
* press enter
* cursor moves to a new line aligned with `k` of `key1`
* type `key3`
![image](https://user-images.githubusercontent.com/19948672/121551053-f8133900-ca17-11eb-88ac-7ca1a1fbd967.png)
* type `:`
*

[2021-06-10 18:59] dakahn commented on #1376
This is also happening to me on my non-typescript javascript files when running Prettier. Closing and reopening fixes the broken highlighting for me as well
![image](https://user-images.githubusercontent.com/40970507/121581903-00f21380-c9f4-11eb-8491-907402ff6b3b.png)

[2021-06-11 06:32] vigoux commented on #610
This should have been fixed upstream, could you confirm it is the case ?

[2021-06-11 06:36] vigoux commented on #1376
Hi, and thanks for reporting.

This issue was actually already reported, and comes from upstream.
FYI we think that the issue arrises in the vim-prettier plugin, and we are going to investigate in this direction.

I'll then mark that as duplicate and upstream (maybe even close it).

Please refer to neovim/neovim#12861 and especiallye [this comment](https://github.com/neovim/neovim/issues/12861#iss

[2021-06-11 06:46] kyazdani42 commented on #1377
the yaml indent seems very light (only one group is captured), maybe you should just use default indentation for now :)

[2021-06-11 07:31] horseinthesky commented on #1377
If it is possible to turn treesitter indentation per-filetype? Or exclude one or two?

[2021-06-11 07:36] chentau commented on #1376
@vigoux I'm pretty sure this is another issue with `curbuf->deleted_bytes2` not being correctly zeroed out; it's causing `extmark_adjust` to send incorrect buffer updates. I haven't had time to work on extmark stuff recently, but I can submit a quick patch this weekend.

[2021-06-11 08:24] vigoux commented on #1376
Pretty sure it is not to be honest (see https://github.com/neovim/neovim/issues/14772).
But in any case, we should stop relying on `deleted_bytes`.

[2021-06-11 08:37] chentau commented on #1376
`lockmarks` with `append()` does probably cause the bulk of invalid updates, but the `:delete` ex command is also causing some of them, too. For example, substituting/joining a line and then running `:%delete` will send invalid buffer updates.

[2021-06-11 11:00] oberblastmeister commented on #610
It is fixed

[2021-06-11 11:30] #610 closed

[2021-06-11 13:47] cschmatzler opened #1382 "No syntax highlighting for svelte"
**Describe the bug**

Syntax highlighting for `.svelte` files simply does not work.

**To Reproduce**

Steps to reproduce the behavior:

1. Install the svelte grammar
2. Open a svelte file.
3. See no syntax highlighting.

**Expected behavior**

Syntax highlighting is marked as feature for svelte, so it should give editor highlighting.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

[2021-06-11 13:58] stsewd commented on #1382
Hi, what does `:set filetype?` show? I don't think neovim has detection for that filetype, think we can copy this in the repo https://github.com/leafOfTree/vim-svelte-plugin/blob/master/ftdetect/svelte.vim or submit that patch to vim.

[2021-06-11 14:27] vigoux commented on #560
Please refer to neovim/neovim#13050 if you encounter this issue. Closing it as a duplicate.

[2021-06-11 14:27] #560 closed

[2021-06-11 14:28] kyazdani42 commented on #1377
i think you can with:
[code]

[2021-06-11 14:36] cschmatzler commented on #1382
`set :filetype` correctly shows `filetype=svelte`, since I've already checked that and added it, unfortunately.

Here's my config, if that helps: https://github.com/cschmatzler/dotfiles/tree/master/nvim/.config/nvim

[2021-06-11 14:37] vigoux commented on #963
After testing, on very latest master (includes an update of the runtime), it seems to be gone (actually, I am sure it's gone). I am closing this then.

[2021-06-11 14:37] #963 closed

[2021-06-11 14:42] cschmatzler commented on #1382
Okay, am an idiot, pulled an old version of my config that didn't have the `highlight` module enabled, apparently forgot to push that on my other machine. Sorry for wasting your time!

[2021-06-11 14:42] #1382 closed

[2021-06-11 14:46] vigoux commented on #1382
Glad you figured that out pal, and no worry, we're here to help  :smile:

[2021-06-11 16:54] horseinthesky commented on #1377
@kyazdani42 Thank you. I can use it as a workaround.
But still, the indent function should be fixed.

[2021-06-12 05:33] dahmc opened #1383 "Compilation errors"
**Describe the bug**

MacOS 11.4

Since a few days I have compilation errors for certain parsers again.
There are these C++11 errors

<details>
<code>
nvim-treesitter[haskell]: Error during compilation
src/scanner.cc:79:10: error: expected expression
  return [=](A a) { return f(g(a)); };
         ^
src/scanner.cc:83:10: error: expected expression
  return [=](A a) { return f(g(a)); };
         ^

[2021-06-12 07:07] luisiacc opened #1384 "Wrong indentation for switch/case statement on javascript"
**Describe the bug**

Indentation on switch/case clause on javascript doesn't work, see video below.

**To Reproduce**

https://user-images.githubusercontent.com/31720261/121768156-a0192700-cb2a-11eb-88d2-b588f3945606.mp4

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

health#nvim_treesitter#check
========================================================================
## Installa

[2021-06-12 12:20] RonanMacF opened #1385 "Failed to load parser: uv_dlopen: ~/.local/share/nvim/site/parser/json.so: wrong ELF class: ELFCLASS64"
It says this for all parsers. I have tried `rm -rf ~/.local/share/nvim/site/parser*` and reinstalling but it doesn't fix anything. `:TSUpdate` show all parsers are up to date. `uname -p` shows `x86_64`

<details>
<code>

health#nvim_treesitter#check
========================================================================
## Installation
  - OK: `tree-sitter` found  0.19.5 (parser generator, only n

[2021-06-12 21:28] Shatur opened #1387 "Export macro causes incorrect syntax highlighting in C++"
**Describe the bug**

The following code will have wrong colors:

[code]

Where `EXPORT_API` is a macro that is used to export class functions to DLLs on Windows on Windows and expands to nothing on Linux.

**Expected behavior**

It would be awesome to handle this case and highlight `EXPORT_API` as a macro and `MyClass` as a class in this case.

**Output of `:checkhealth nvim_treesitter`**

<detai

[2021-06-12 21:52] theHamsta commented on #1387
Please open this bug at tree-sitter-cpp! I guess it is already reported.

[2021-06-12 21:56] Shatur commented on #1387
Did non know, thank you! The issue https://github.com/tree-sitter/tree-sitter-cpp/issues/85 looks similar, but it for a macro before class. Should I create a separate issue?

[2021-06-12 21:56] #1387 closed

[2021-06-13 08:11] jonwalstedt commented on #1383
I hade similar issues and the got went away by doing `export CC="gcc-11"` instead not sure if that is the recommended solution though

[2021-06-13 10:32] timsofteng opened #1388 "No indentexpr for .vue files"
Hello. I find that there is no `indentexpr` for .vue files in treesitter. So identation in .vue files is not good.
Is it any way to add identation to .vue files?

[2021-06-13 10:35] timsofteng opened #1389 "Crashing on trigger prettier"
Hello. When I'm trigger `prittier` plugin (https://github.com/prettier/vim-prettier) Treesitter crashes. Always. Every time treesitter crashes on `prettier`.

![image](https://user-images.githubusercontent.com/51912173/121803904-4446bf00-cc4c-11eb-8bf3-a072291cf3d0.png)

[2021-06-13 10:42] timsofteng commented on #1389
Sorry, find the same opened issue.

[2021-06-13 10:42] #1389 closed

[2021-06-13 11:20] dahmc commented on #1383
Thanks @jonwalstedt, that actually worked like a charm.

So is this the new recommended setting or a hacky workaround?

[2021-06-13 18:18] DONofDESTROY commented on #94
looks like this issue still exists,
steps to reproduce
1. install latest nvim
2. update treesitter
3. open any jsx file (for first time opening the buffer lacks most of the highlights) changing to another buffer and going back to the first opened buffer (bam every highlight is applied)
4. looks like tsx files works properly
or using :bufdo e after nvim is launched solves the problem

[2021-06-13 18:33] theHamsta commented on #1383
You can set `require 'nvim-treesitter.install' = {'gcc'}` in lua code to always use gcc. The Haskell parser now compiles with each compiler of the latest generation except with Apple clang. Normal clang seems to work

[2021-06-14 20:23] farbodsz commented on #1385
I've just run into this as well, when trying to reinstall a language via `:TSUpdate`.

Not sure why it happens, but for me, as a temporary workaround, completely uninstalling and reinstalling `nvim-treesitter` bypassed the errors.

[2021-06-14 23:45] zlksnk commented on #1337
Hi @stsewd, were you able to reproduce the issue? I'd be happy to send more info if you need.

[2021-06-15 08:41] craftzdog commented on #1317
This works:

[code]

And this doesn't work:

[code]

But updating `lua/nvim-treesitter/parsers.lua` itself works.
`list.tsx` already has `used_by` value by default:

[code]

and updating `used_by`  has no effect.

[2021-06-15 14:00] stsewd commented on #1337
sorry haven't had time to look into this, I'll see if I can check something this weekend.

[2021-06-15 18:14] luisiacc commented on #1019
I'm still having the same problem, indentation on javascriptreact files doesn't indent properly when working with tags, but on javascript filetypes the do work well.

[2021-06-16 08:55] aegatlin commented on #1335
I think it is still worth suggesting that the discrepancy here between (1) `ensure_installed: 'maintained'`, (2) the fact that elixir is listed in the supported languages on the README as maintained, and (3) the fact that it's not present out-of-the-box, should be mentioned somewhere.

I'd be happy to submit some PR against the docs to help others who, like me, might have been confused in assuming

[2021-06-16 10:06] pdelacroix opened #1395 "Wrong filetype detection for Elixir files"
**Describe the bug**

The highlighting with the Elixir parser is absolutely wrong. It feels like nvim-treesitter is not using it at all and is not inferring the right language in the buffer, but I have no idea how to check that. Other parsers work remarkably well.

![Example](https://user-images.githubusercontent.com/6040664/122198440-74cf6880-ce99-11eb-8ad9-f3ea9eb5673c.png)

**To Reproduce**

St

[2021-06-16 10:55] jinh0 opened #1396 "Slow tsx and typescript"
**Describe the bug**

TSX and TypeScript files take a noticeably longer time to load than JavaScript files. I have looked at `--startuptime` and `:profile` logs, and even when I delete all default regex-based syntax files loaded for TypeScript by NeoVim, treesitter is slow to load TS / TSX files.

I saw on issues like #1082 , people are having the same issue as me. I've seen that it might be due t

[2021-06-16 13:46] mhanberg commented on #1395
On my intel mac highlighting seems to work fine, but I just tried it out again on my M1 mac and am running into highlighting issues as well

[code]

<details>
<summary>Full details here</summary>
<pre>
health#nvim_treesitter#check
========================================================================
## Installation
  - OK: `tree-sitter` found  0.19.5 (parser generator, only needed for :TSInstal

[2021-06-16 13:47] mhanberg commented on #1395
@pdelacroix if you uninstalled the vim-elixir plugin, you'll probably need to still set the filetype with an autocmd. Or else .ex files show up as `Euphoria` i think for the filetype.

[2021-06-16 16:39] vigoux commented on #1395
It would be good to add that here then, if we want to easily support elixir, this should be added to our filetype detection.

[2021-06-16 16:45] vigoux commented on #1396
As you say in your issue description, it might be out of our reach. We'll try our best to enhance performances, but we can't guarantee anything.

[2021-06-16 17:26] pdelacroix commented on #1395
Yes! Long time since I haven't configured vim, I found `set syntax=` but yeah the correct one is `filetype`. In lua that would be:

[code]

Many thanks! I try to have as less plugins as possible in my (new) config, from vim-elixir if syntax highlighting comes from nvim-treesitter the only thing that would be nice to have is the indentation conventions but I guess there are other ways to have it...

[2021-06-16 17:58] mhanberg commented on #1395
You'll also need to manually set the commentstring if you use some commenting plugin.

And this parser won't highlight eelixir files (index.html.eex) I don't think. (I could be wrong here)

[2021-06-16 19:29] svanharmelen opened #1398 "Need to press <C-q> twice for it to work"
**Describe the bug**

I remapped these:

[code]

But when I press `C-q` nothing happens. If I press it again, it works as expected. If I instead map it to `C-a` it work the first time as well. I did try to search for anything else being mapped to `C-q` (using :verbose map <C-q>) but could not find anything...

**To Reproduce**

Remap de following the snipped above. Open the find_files (maybe selec

[2021-06-16 21:23] vigoux commented on #1398
Huh, it seems that you are posting this issue on the wrong repo?
Your issue seems only related to `telescope.nvim` but not `nvim-treesitter`, right?

[2021-06-17 00:32] aegatlin commented on #1395
I was running into a similar problem trying to avoid vim-elixir in a more minimal setup, and realizing that filetype=elixir needed to be manually set, which I did in my `init.lua`. @vigoux mentioned adding it to this repos filetype detection. But, I wonder if it makes more sense to add it to neovim's filetype detection itself. Thoughts?

[2021-06-17 02:34] jinh0 commented on #1396
I'm just wondering if other people are still having this issue and if they have any workarounds for the time being.

[2021-06-17 06:38] svanharmelen commented on #1398
Whoeps! Sorry for the noise 😊

[2021-06-17 06:38] #1398 closed

[2021-06-17 06:43] vigoux commented on #1398
No worry pal 😉

[2021-06-17 12:18] lalitmee opened #1401 "Half file is correctly colored but half not"
**Describe the bug**

A clear and concise description of what the bug is.
For javascript, the parsing or something is breaking when we desctruture the object property like this
[code]
![treesitter](https://user-images.githubusercontent.com/10762218/122393070-1d60f380-cf92-11eb-8c17-32fe9749c40d.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Install the latest versions of NeoVim, tree

[2021-06-17 13:40] vigoux commented on #1395
Might be worth following neovim/neovim#14842

[2021-06-17 13:50] vigoux commented on #1401
Hi, thanks for reporting.

Could you install the `playground` plugin and see if the tree shown after running `TSPlaygroundToggle` shows any error?

[2021-06-17 18:04] savq opened #1404 "Error with error-handling branches in Julia"
**Describe the bug**

The indent module fails to identify the second branch of an error handling block in Julia. If both `catch` and `finally` appear consecutively, whichever appear second won't indent properly.

**To Reproduce**

Steps to reproduce the behavior:

1. Write the following unindented code:
[code]
2. Try to indent the code as usual (with the `=` motion for example). The result will be

[2021-06-17 18:28] millnitzluan opened #1405 "Elixir: "W18: Invalid character in group name""
**Describe the bug**

When opening elixir files like `.ex/.exs` I'm getting this error.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to elixir files
2. See the error. `W18: Invalid character in group name`

**Expected behavior**

This error shows every time when using nvim + telescope with file preview. You can easily check it while previewing the files. Disabling elixir syntax stops

[2021-06-17 21:37] theHamsta commented on #1405
Could this be related to https://github.com/neovim/neovim/pull/14767 ?

[2021-06-18 03:49] lalitmee commented on #1401
Yup, I can see the error in the `playground`. Here is the screenshot.
![image](https://user-images.githubusercontent.com/10762218/122503444-14196a80-d016-11eb-8668-01e398c28ce4.png)

Is it something related to my code or there we haven't think of this case in `nvim-treesitter`. I think `nvim-treesitter` is confusing this with string.

[2021-06-18 11:00] aegatlin commented on #1395
Wanted to mention here that I opened an issue against vim on this topic: https://github.com/vim/vim/issues/8401, which means this is quite upstream of the potential change at the moment. Might be worth labelling as such?

[2021-06-18 11:05] vigoux commented on #1401
Then your file somehow causes errors in the parser.
You should post an issue in the parsers repo.

[2021-06-18 12:20] JoranHonig commented on #1168
Hey everyone!

With the help of @p13nty there are now highlights on the tree-sitter-solidity impl 🚀.

Let me know if it works 🙌

[2021-06-18 15:59] jesseleite opened #1407 "..."
Posted this to wrong repo, I am sorry! 😅

[2021-06-18 17:07] #1407 closed

[2021-06-18 18:22] stsewd commented on #1337
@ajitid can you provide your minimal init.vim and the file you are using to test? I wasn't able to replicate this with

[code]

and

[code]

[2021-06-18 19:59] millnitzluan commented on #1405
IDK if it's related, built neovim with your modifications and the error is still happening.

[2021-06-19 06:44] vigoux commented on #1407
Haha no worry pal, i hope you'll figure out the problem!

[2021-06-19 11:15] smhc opened #1408 "TSUpdateSync language list without prompt"
**Is your feature request related to a problem? Please describe.**

I perform a headless installation of nvim and plugins using:
[code]
combined with:
[code]

I need to perform this regularly on various environments that I provision. I also would like to be able to re-run it and perform ":PlugUpdate" as required.

At the moment this operation results in prompts asking if I wish to 're-download the

[2021-06-19 17:53] ajitid commented on #1337
Yes @stsewd you are right. This issue is being caused due to another plugin, Telescope, and [an issue is already filed for it and is still open](https://github.com/nvim-telescope/telescope.nvim/issues/699). Thanks for looking into it.

[2021-06-19 17:54] ajitid commented on #1337
Yes @stsewd you are right. This issue is being caused due to another plugin, Telescope, and [an issue is already filed for it and is still open](https://github.com/nvim-telescope/telescope.nvim/issues/699). Thanks for looking into it.

[2021-06-19 17:54] #1337 closed

[2021-06-20 10:32] haolian9 commented on #509
I was trying to combine incrmental_selection with [vim-submode](https://github.com/kana/vim-submode) to sove this issue, **failed**, althrough, I think it's worth to mention here.

[code]

[2021-06-21 05:03] adamansky commented on #1371
I think here is the wrong behavior of `TSURI` context (which is underlined) - it is wrongly propagated after end of uri

[2021-06-21 12:53] farbodsz opened #1412 "No highlighting unless file opened in fuzzy finder or file explorer"
**Describe the bug**

nvim-treesitter syntax highlighting does not always show, depending on how I open the file.

My example below shows a Haskell file, but I get this issue with all filetypes.

**To Reproduce**

When I open a file directly from the terminal, or open a new file in nvim, I get non-treesitter syntax highlighting, even though treesitter is correctly loaded and has parsed the file.

[2021-06-21 14:29] matiaslb commented on #1405
Same thing happens to me, I believe that the issue happens when the following plugin is loaded: vim-editors/vim-elixir

[2021-06-21 20:38] jacksonludwig commented on #1396
I think I do have this issue. Using treesitter highlighting makes things noticeably slower when both opening and moving around in a typescript file.
If you're using a fast PC you might not notice, but on some machines it's very obvious (don't notice it on my desktop, but on my laptop it's too slow to really be used comfortably).

[2021-06-22 00:26] luisiacc opened #1415 "Very slow navigation on this python file"
**Describe the bug**

Navigating up and down within the lines mentioned is terribly laggy.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to line 1044 of the file
2. Navigate up & down
3. So laggy

**Expected behavior**

Navigation should be smooth

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

health#nvim_treesitter#check
=============================================

[2021-06-22 02:55] hyt589 commented on #111
Hi, this is not mentioned in the doc. What's the correct way to install parsers synchronously? I tried `+"TSInstall -sync all" +qall` and it still exited before the installation is complete.

[2021-06-22 02:55] elianiva commented on #1415
It seems like it got slower if the cursor is above a node with *lots* of lines.
These are the big nodes in that file:
- :79 -> 962 lines
- :1044 -> 1007 lines
- :2090 -> 567 lines (not as laggy as the previous ones)

[2021-06-22 13:17] AstroLuluGit commented on #1376
Anything new on this bug? I am getting this error as well, while formatting TSX files with vim-prettier.

[2021-06-22 16:14] stsewd commented on #111
Hi, the command is called `TSInstallSync`, docs would be great it there aren't for this command

[2021-06-22 16:33] stsewd commented on #1415
You can disable the comment and rst parser, there are a lot of injections in that file, we have some performance problems with multiple injections. But looks like you don't have those parsers, so it's just slow in general :/

[code]

[2021-06-22 17:29] polarmutex commented on #1415
seeing the same problem.

 is there a way to install specific commits of grammars to see which one caused the problem?

[2021-06-22 20:35] JoseConseco commented on #1415
I have similar issue.  Some longer lines in python are verry laggy.  Slowdown appeared 2-3 days ago - I reverted my loca copy of TS  to version from 10 days ago, but it did not help.
 I think things went worse after updating latest neovim-nightly-bin those 2-3 days ago . I'm not sure how do I check out older version on nvim... Right now I'm using this command:
`yay -u neovim-nightly-bin`

[2021-06-22 22:44] stsewd commented on #1415
You can change the commit from the lock file https://github.com/nvim-treesitter/nvim-treesitter/blob/master/lockfile.json, but this issue is more related to neovim triggering lots of refreshes and/or ts parsing the file again.

[2021-06-23 05:14] dosisod opened #1417 "/usr/bin/ld: cannot find -lstdc++"
**Describe the bug**

When installing treesitter via `:TSUpdate`, `libstdc++` is not found, and compilation fails.

**To Reproduce**

Steps to reproduce the behavior:

1. Download my [nvim config](https://github.com/dosisod/dotfiles/blob/master/.config/nvim/init.vim) ([lines 54-61](https://github.com/dosisod/dotfiles/blob/master/.config/nvim/init.vim#L54-L61) are probably the most relevant)
2. Ope

[2021-06-23 09:26] theHamsta commented on #1417
Most parsers don't require C++. But some do for their scanner. Please just install `lstdc++` which can be done by install `g++`

[2021-06-23 10:20] 77anshuman opened #1418 "treesitter is causing neovim to crash"
**Describe the bug**

Using vim-plug once nvim-treesitter is installed, if I install lua module using :TSInstall lua and then source my init.lua file which contains the nvim-treesitter.config.setup function as shown in the documentation, neovim crashes.

![image](https://user-images.githubusercontent.com/74228646/123078026-335e3080-d438-11eb-89cb-b1cb288cd883.png)

**To Reproduce**

Steps to repro

[2021-06-23 12:10] nabezokodaikon opened #1419 "There is an error in checkhealth."
**Describe the bug**

When I ran checkhealth, I got the following error:
<img width="1194" alt="スクリーンショット 2021-06-23 21 05 22" src="https://user-images.githubusercontent.com/3197942/123093563-cf069580-d466-11eb-9cc6-6ba8628d4692.png">

**To Reproduce**

Steps to reproduce the behavior:

1. Run checkhealth command.

**Expected behavior**

A clear and concise description of what you expected to happ

[2021-06-23 13:16] polarmutex commented on #1415
based on my limited testing, the problem seems to start when treesitter in the neovim was upgraded to 0.19.5 on 6/11/21

[2021-06-23 14:43] vigoux commented on #1419
Hi, coul you try running `:TSUpdate` and tell if the error goes away?

[2021-06-23 15:26] theHamsta commented on #1419
If not you might try the query linter in the indicated highlight files.

[2021-06-23 20:00] JoseConseco commented on #1415
@polarmutex  do you have build on nvim for linux from before the regression?  The way it is now its unworkable.

[2021-06-23 20:21] nabezokodaikon commented on #1419
@theHamsta Excuse me. What exactly does'try with query linter' mean?

[2021-06-23 20:39] stsewd commented on #1419
I can't reproduce this with the latest version of the plugin. And looks like only the ledger parser has been updated recently https://github.com/nvim-treesitter/nvim-treesitter/blob/master/lockfile.json

@nabezokodaikon can you check that you have the latest version of that file?

[2021-06-23 20:55] theHamsta commented on #1419
@nabezokodaikon https://github.com/nvim-treesitter/playground#query-linter It will show you which query is wrong on your setup

[2021-06-23 21:13] nabezokodaikon commented on #1419
@stsewd Yes. When I checked `lockfile.json`, it was the same as committing the ledger.

[2021-06-23 21:14] nabezokodaikon commented on #1419
@theHamsta When I tried to check the playground, I showed the sample code, but no highlights were displayed.
Below is a screenshot of the error.
<img width="1422" alt="スクリーンショット 2021-06-24 6 11 31" src="https://user-images.githubusercontent.com/3197942/123168782-67c30280-d4b3-11eb-8102-d3da5ed0980f.png">

[2021-06-23 23:03] mizlan commented on #1415
As a workaround, try checking out and building a commit of Neovim before 3085788a3ef84cebaf532bbe77fde6df16a694a2.

[2021-06-24 00:41] luisiacc commented on #1415
I can confirm that this issue doesn't exists before this commit, also highlighting seems to be much faster(tested on python,javascript and html files).

[2021-06-24 00:59] stsewd commented on #1415
Thanks all for testing, think this should be reported to neovim.

[2021-06-24 03:23] nabezokodaikon commented on #1419
@stsewd If it doesn't reproduce with the latest version, I would like to do a clean install once. Are there any files to delete other than the cloned repository?

[2021-06-24 03:56] stsewd commented on #1419
Deleting the installed parsers should do it, you can also reinstall the buggy parsers with :TSInstall

[2021-06-24 03:58] kdurant opened #1422 "Use ssh to download parser"
I can't use default url to download any parser, but using ssh can do it.

I change code like code below.
[code]

Although there are some errors, it can download parser luckly.

Can you provide an option to switch the download url?

[2021-06-24 04:05] nabezokodaikon commented on #1419
Hmm. The situation did not change.

By the way, there is something like a file path in the error message, what is this?
[code]

[2021-06-24 05:05] dosisod commented on #1417
I do have `libstdc++` installed (see Additional Context), as well as g++:

[code]

[2021-06-24 05:16] 77anshuman commented on #1418
Update : The treesitter is not the cause of the problems, the issue is caused by the language package that can be installed using :TSInstall, in my system (Windows 10 x64) lua and python have resulted in neovim crash whereas HTML, cpp, c, JSON, JS, CSS have been working great.

[2021-06-24 06:59] theHamsta commented on #1417
But you don't have libstdc++ for version 8 which seems to be your c compiler. Maybe this could be the issue?

[2021-06-24 07:01] theHamsta commented on #1419
Use `TSEditUserQuery highlights` on a ledger file

[2021-06-24 10:11] nabezokodaikon commented on #1419
It's the neovim installation directory.

[2021-06-24 10:49] nabezokodaikon commented on #1419
By the way, are you all using Linux?
I'm sorry I forgot to say it at the beginning, but my environment is Mac.

[2021-06-24 10:50] Snyssfx commented on #1337
The folds disappears when I pass the above json through `:%!jq` program. Then `:edit %` fixes the issue

[2021-06-24 10:51] cigrainger commented on #1405
Same thing happens to me, including after I removed `vim-editors/vim-elixir`.

[2021-06-24 11:07] akinsho commented on #1337
I think it sounds like a new issue which I was also going to raise, I use `stylua` via `diagnosticls` to format my lua buffers and noticed that all folds get cleared after I've formatted the buffer. As a side note this is not the case for actual lsp formatting (in my dart files for example when the dartls formats the buffer the folds are preserved). Im guessing the external formatter blats the fil

[2021-06-24 11:43] theHamsta commented on #1422
Are you sure this is about ssh? We have a switch that usually uses curl instead of git. You can have a look into select_download command in shell_selectors.lua and try to force to use git

[2021-06-24 11:45] theHamsta commented on #1419
The Neovim file only reports the error. It's about the query/ledger/highlights.scm file  in our git. Please check the file in our repo with the query linter

[2021-06-24 12:49] kdurant commented on #1422
@theHamsta Is there a way to  force to use git by configing file?

[2021-06-24 13:05] nabezokodaikon commented on #1419
The following error has occurred.

queries/c_sharp/highlights.scm
[code]

ledger language is a language I don't know, so I can't try it.

By the way, it didn't happen on Linux.

[2021-06-24 13:09] theHamsta commented on #1419
Did you update your c_sharp parser? Those are all new node types that were shipped with a recent update. Maybe uninstall/reinstall just to be sure?

[2021-06-24 13:13] nabezokodaikon commented on #1419
It's c_sharp.
I just reinstalled it and I'm getting the same error.

[2021-06-24 13:33] smhc commented on #1408
Intended to be resolved by https://github.com/nvim-treesitter/nvim-treesitter/pull/1423

[2021-06-24 14:00] Snyssfx opened #1424 "Folds are calculated before the tree-sitter tree is updated"
**Describe the bug**

The bug reproduces for `json` and `go` files for me, and @akinsho said it reproduces for `lua` files as well (see [the comment](https://github.com/nvim-treesitter/nvim-treesitter/issues/1337#issuecomment-867547708))

Folds in any file disappear when the text is passed through any external program (I use it for format programs), for example `%!goimports`, `%!jq` and even `%!ca

[2021-06-24 14:12] stsewd commented on #1419
Yeah, I'm using linux, maybe you can try using another C compiler, `CC=clang`. This the gcc version I have

[code]

[2021-06-24 14:17] nabezokodaikon commented on #1419
This is the output result of my Mac.
[code]

[2021-06-24 14:27] theHamsta commented on #1419
Can you try to change the path of the c_sharp parser to a local path where you checked out the newest revision?

[2021-06-24 14:37] levouh commented on #1415
Did anyone make an issue upstream @stsewd @luisiacc @polarmutex, etc.? If so, can you link it here? Otherwise I'm happy to create one. Seeing this problem myself as well.

[2021-06-24 14:45] levouh commented on #1415
I created one [here](https://github.com/neovim/neovim/issues/14897), let me know if someone else did this already and I'll close mine and/or link it.

[2021-06-24 14:48] stsewd commented on #1415
I think you are the first, thank you :)

[2021-06-24 14:48] #1415 closed

[2021-06-24 15:02] nabezokodaikon commented on #1419
Is this all right?
There is no change.
<img width="1917" alt="スクリーンショット 2021-06-24 23 59 46" src="https://user-images.githubusercontent.com/3197942/123285913-6bed2f80-d548-11eb-889b-4a7a574f08b7.png">

[2021-06-24 18:16] brymer-meneses commented on #1415
This also happens for tex files using treesitter.

[2021-06-24 20:05] arowe92 commented on #1167
Just noting I get the same behavior for block comments in c++.
I had to disable indent for treesitter, indentation is correct without it.

[2021-06-24 21:47] timsofteng commented on #1396
Same here

[2021-06-25 05:52] stsewd commented on #1418
Thanks for the report, I don't user windows, but I think we have a wiki entry for it https://github.com/nvim-treesitter/nvim-treesitter/wiki/Windows-support

[2021-06-25 06:06] stsewd commented on #1422
@kdurant don't think is possible, but you can test if it works by forcing this to be false https://github.com/nvim-treesitter/nvim-treesitter/blob/5e500cbc8816d5cec7ad21398f6be2fe608583e6/lua/nvim-treesitter/shell_command_selectors.lua#L124 If that solves your problem I think we can make it an option.

[2021-06-25 06:33] stsewd commented on #1412
Hi, I think a plugin may be interfering with the syntax highlight, can you try with a minimal init.vim? Try disabling plugins one by one and see if the problem goes away.

[2021-06-25 06:36] stsewd commented on #1396
Hi, I think this might be related to the treesitter runtime update, can you check if compiling neovim with a previous version fix this issue? See https://github.com/neovim/neovim/issues/14897

[2021-06-25 11:43] matu3ba commented on #1336
@kyazdani42 Just wanted to inform you that c++ has the same issue.

[2021-06-25 19:55] surmish opened #1428 "Possible False indentation for LUA code"
Nightly neovim
latest TS

**Describe the bug**
Addition of the commend `-- xyz` after opening brace give the following indentation in Neovim
[code]

Moving the comment (or removing it), fixes the indentation as follows:
[code]

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>
health#nvim_treesitter#check
========================================================================
## Inst

[2021-06-25 20:30] #1428 closed

[2021-06-25 20:31] surmish commented on #1428
Sorry, it wasn't a bug. TS indentation was not enabled. Was using Vim's indent feature.

[2021-06-25 23:21] stsewd commented on #1424
Looks like this also happens when you delete the whole buffer and undo:

[code]

I guess the same is done when passing the text through an external program. Looks like a problem with the cache.

[2021-06-26 00:35] theHamsta commented on #1401
I'm for closing this. As  @vigoux identified this seems to be a parser issue.

[2021-06-26 00:38] dosisod commented on #1417
This fixed my issue! Weird that I've just now ran into this.

[2021-06-26 00:38] #1417 closed

[2021-06-26 00:55] stsewd commented on #1424
Looks like possible a race condition or a missing update to the tree https://github.com/nvim-treesitter/nvim-treesitter/blob/5e500cbc8816d5cec7ad21398f6be2fe608583e6/lua/nvim-treesitter/fold.lua#L16-L22

That returns 0 results when being called just after the undo/external command.

[2021-06-26 01:48] stsewd commented on #1424
I think this is something to do with _when_ the function is called by nvim to calculate the folds, even without the cache I'm able to reproduce the problem.

Neovim doesn't call the fold function every time a `za` and friends are called, but instead only on some situations.

- The whole buffer content is deleted
- TS is updated
- Neovim calls the fold function for the first line
- Undo is triggere

[2021-06-26 01:53] stsewd commented on #1424
This can be replicated when deleting one node (that is part of a fold) too.

- TS has the current content, with let's say 5 folds
- One fold is deleted
- Neovim calls the fold function, it has 5 folds!
- TS is updated to have 4 folds
- Undo is triggered
- Neovim calls the fold function, it has 4 folds!
- TS is updated to have 5 folds

So, the folds would end out of sync at some point when nodes th

[2021-06-26 02:08] stsewd commented on #1424
So, this is probably an upstream issue, @vigoux or @bfredl may know better where to fix this.

[2021-06-26 06:39] AusCyberman opened #1431 "Agda"
**Language informations**
A Dependently typed programming language with complex grammar parsing, [Treesitter-agda](https://github.com/tree-sitter/tree-sitter-agda) is dead though

[2021-06-26 06:44] AusCyberman opened #1432 "nvim-treesitter ABI incompatible nixos"
**Describe the bug**

![image](https://user-images.githubusercontent.com/12080502/123504507-1ecea200-d69d-11eb-8894-7702a4627b05.png)
on NixOS, for all languages, despite it running with the same binaries on Debian

**To Reproduce**

Steps to reproduce the behavior:
Compile Treesitter parsers on nixos

**Expected behavior**

Compatbile abi with neovim

**Output of `:checkhealth nvim_treesitter`**

[2021-06-26 13:06] anuvyklack opened #1435 "Do not fold one line"
Is it possible to add an option to set the threshold to not create a fold if a number of lines less than this threshold?

For example to not create folds that will consist of 3 lines but with only 1 not visible line that makes sense, like this:

[code]

[2021-06-26 14:24] paniash opened #1436 "Delay in startup"
**Describe the bug**

A clear and concise description of what the bug is.

On enabling treesitter, the startup times are noticeably higher than without treesitter.

**Expected behavior**

Same startup time, regardless of if treesitter is enabled or not.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

Paste the output here

[code]

**Output of `nvim --version`**

<details>
<code>

[2021-06-26 16:05] stsewd commented on #1436
Can you share the result from `nvim --startuptime start.log` with/without ts?

[2021-06-26 16:09] stsewd commented on #1432
From where did you get your nvim? Looks like an old treesitter version was used to compile it.

[2021-06-26 16:11] paniash commented on #1436
Without ts:

[code]

[2021-06-26 16:11] paniash commented on #1436
With ts:

[code]

[2021-06-26 16:31] gegoune commented on #1436
But those two startup sequences took almost exactly the same time.

[2021-06-26 16:35] paniash commented on #1436
Yes, I'm astonished as well. But the delay sure is noticeable with ts. Not sure why

[2021-06-26 16:43] stsewd commented on #1435
This can be an option, yeah https://github.com/nvim-treesitter/nvim-treesitter/blob/c04aa172a3feab61f8f4fbfa0e3d47fa12513485/lua/nvim-treesitter/fold.lua#L33-L33

[2021-06-26 16:50] stsewd commented on #1436
does this happen when you open a new file, maybe? `nvim --startuptime start.log myfile.py`

Also, I think `--startuptime` doesn't include lua files, think there is a plugin to include those.

[2021-06-26 16:51] stsewd commented on #1436
I think this is https://github.com/norcalli/profiler.nvim

[2021-06-26 16:55] paniash commented on #1436
You were right. Without ts:

[code]

With ts:

[code]

[2021-06-26 17:05] stsewd commented on #1436
@paniash can you share the file that you opened? Maybe, was it python? see https://github.com/neovim/neovim/issues/14897

[2021-06-26 17:09] paniash commented on #1436
Yes, it was a python file.

[2021-06-26 17:14] paniash commented on #1436
Going through this thread, looks like compiling from a particular commit does the trick. Currently I have nightly built from the AUR (which is outdated). I'll compile locally from the commit and let you know if it works.

[2021-06-26 17:26] paniash commented on #1436
Update: I still see a significant delay in starting up python files, even after compiling from the commit in the thread.

Also, this startup delay is noticeable in julia files as well.

[2021-06-26 17:48] fcomoreira1 commented on #1371
Is this fixed already? These lines are so annoying

[2021-06-26 18:05] stsewd commented on #1436
Are those files big? Currently parsing the first time may be slow as it's done synchronous, edits after that should be fast. Also, maybe are you using foldexpr? https://github.com/nvim-treesitter/nvim-treesitter/issues/1100

[2021-06-26 18:15] stsewd commented on #1405
Does this happen when not using telescope? I think you should report this issue there, then.

[2021-06-26 18:17] stsewd commented on #1401
Please report this to https://github.com/tree-sitter/tree-sitter-typescript

[2021-06-26 18:17] #1401 closed

[2021-06-26 18:20] stsewd commented on #1395
Yes, looks like the patch was merged in vim, it should be ported to neovim now https://github.com/neovim/neovim/issues/14842

[2021-06-26 18:20] #1395 closed

[2021-06-26 18:23] stsewd commented on #1385
Is that correct for your system? Does re-installing the plugin solves your problem?

[2021-06-26 18:30] stsewd commented on #1383
I think that's a solution, since different parsers may require different compilers, guess is best to use the latest one for all of them. If that isn't possible, let us know, we can maybe add an option for each parser.

You can force to use another compiler with `require 'nvim-treesitter.install'.compilers = { "gcc" }`

[2021-06-26 18:30] #1383 closed

[2021-06-26 18:33] stsewd commented on #1372
Please let us know your exact nvim version as the template says, you can also try downloading the latest version and see if the error goes away.

[2021-06-26 18:33] #1372 closed

[2021-06-26 18:34] stsewd commented on #1349
Was this solved by https://github.com/nvim-treesitter/nvim-treesitter/pull/1356? Or is there anything else we can improve?

[2021-06-26 18:39] stsewd commented on #1301
Looks like all repos have been updated to the latest version of neovim, if anyone is still hitting this issue, let us know!

[2021-06-26 18:39] #1301 closed

[2021-06-26 18:48] stsewd commented on #1376
This is a duplicate of https://github.com/nvim-treesitter/nvim-treesitter/issues/1201 indeed, I'll link to this issue from the other one in case this case isn't mentioned there already.

[2021-06-26 18:48] #1376 closed

[2021-06-26 18:48] stsewd commented on #1201
Using plugins that format the buffer content may lead to this as well, linking to https://github.com/nvim-treesitter/nvim-treesitter/issues/1376

[2021-06-26 19:00] stsewd commented on #1126
Closing this in favor of https://github.com/nvim-treesitter/nvim-treesitter/issues/872

[2021-06-26 19:00] #1126 closed

[2021-06-26 19:01] stsewd commented on #1115
yes, this is a duplicate of https://github.com/nvim-treesitter/nvim-treesitter/issues/651, if you have a reproducible example please post it there!

[2021-06-26 19:01] #1115 closed

[2021-06-26 19:07] stsewd commented on #1011
Please provide us with the information required so we can help you and re-open this issue, or let us know if you solved this already!

[2021-06-26 19:07] #1011 closed

[2021-06-26 19:14] stsewd commented on #732
This is the expected behavior, I think there is an open issue to be able to detect other things based on the currently captures.

[2021-06-26 19:14] #732 closed

[2021-06-26 19:17] stsewd commented on #648
We already do this, all hl groups have the  `{lang}TSGroup` prefix.

[2021-06-26 19:17] #648 closed

[2021-06-26 19:20] stsewd commented on #524
Ruby textobjects are included now https://github.com/nvim-treesitter/nvim-treesitter-textobjects/pull/68! Let us know if you have any other problems.

[2021-06-26 19:20] #524 closed

[2021-06-26 19:29] stsewd commented on #989
Maybe the gcc version being used?

[2021-06-26 19:33] stsewd commented on #913
Looks like this issue was resolved, the problem was that an old version of luajit/neovim was being used.

[2021-06-26 19:33] #913 closed

[2021-06-26 19:40] stsewd commented on #904
I think we can close this issue, hopefully sharing queries can be done one day.

[2021-06-26 19:40] #904 closed

[2021-06-26 19:47] stsewd commented on #1251
I'm closing this in favor of https://github.com/nvim-treesitter/nvim-treesitter/issues/1267 since the root cause is the same.

[2021-06-26 19:47] #1251 closed

[2021-06-27 00:35] AusCyberman commented on #1432
nixpkgs master

[2021-06-27 05:27] 77anshuman commented on #1418
Thnaks, I repalced TDM GCC with Clang 3.7.0 and MinGW 5.1.0. This works very well.

[2021-06-27 08:57] paniash commented on #1436
The log that I showed for a python file only had like 10 sloc.

[2021-06-27 10:56] babygau opened #1438 "Tree-sitter based folding make substitution slow in Neovim config"
**Describe the bug**

Set
[code]
make substitution incredibly laggy. But this only happen when edit Neovim dotfiles.

**To Reproduce**

Steps to reproduce the behavior:

1. Do increment search and replace with `%s/old/new`
2. It took many seconds to incrementally replace `old`
3. Only happen with Neovim lua-based config
4. It's working OK with other files which are not located in dotfiles

**Expec

[2021-06-27 12:26] farbodsz commented on #1412
Thanks @stsewd for helping me identify more details. I'm not sure on the exact cause but I can show what I found:

In [this section of my init.vim](https://github.com/farbodsz/dotfiles/blob/444d2b7df26234927d12b657870f725ffe796260/neovim/.config/nvim/init.vim#L82-L90) I source some files:

[code]

Importantly, in `syntax.vim`, [I configure treesitter-based folds](https://github.com/farbodsz/dotfil

[2021-06-27 13:35] Samyak2 opened #1439 "Provide installation instructions for `packer.nvim`"
**Is your feature request related to a problem? Please describe.**

When I was considering installation of `nvim-treesitter` in my (lua) config that uses [`packer.nvim`](https://github.com/wbthomason/packer.nvim) for package management, it wasn't obvious what I had to add to my config to do so. To be specific, the `do` part of the current `vim-plug` installation command wasn't obvious at first. It

[2021-06-27 15:23] vigoux commented on #1439
What we may do instead (more community driven), is to do a wiki page.

Would that be a solution that works for you?

[2021-06-27 18:01] Samyak2 commented on #1439
From my experience, GitHub wiki pages can be a little awkward to contribute to as they exist as a separate git repo from the main repo. Is there a specific reason for suggesting Wiki pages as opposed to having the community contribute to the README (or other doc files in the repo) directly?

[2021-06-27 19:15] vigoux commented on #1439
Yes, this keeps the repo small, and avoid updates like "ad thing thing to the README", and also, the allows the community (that I hope exists hehe) to contribute more freely, and be involved!

[2021-06-27 20:20] gjeusel opened #1441 "Ignore nvim-treesitter builtin queries to consider only custom ones for a language"
I am not satisfied with the queries provided by nvim-treesitter for a specific language.

Adding my custom queries folder named `queries` in my runtimepath (even before nvim-treesitter) does not seem to unload nvim-treesitter provided queries, even though it loads mine.
One solution would be to overwrite each and every query defined inside nvim-treesitter for this language, but it's rather cumbers

[2021-06-27 20:59] folke commented on #1438
I have the same problem.

[Example file](https://github.com/folke/tokyonight.nvim/blob/main/lua/tokyonight/theme.lua)

Select lines 18 till 23.

Then try to replace `bg`. Will take over 10 seconds to make nvim responsive again.

[2021-06-28 02:14] Luxed commented on #1349
C# is still missing locals and indents.
I have also found some more issues since I finally started using it on a daily basis.
I'd like to keep this opened until what's left is fixed, would that be an issue?

[2021-06-28 05:37] babygau commented on #1438
@folke, you're right, uninstall `comment` and substitution worked as expected.

[2021-06-28 06:13] #1438 closed

[2021-06-28 06:16] folke commented on #1267
Would be great if you could check with my PR #1442. Pretty sure I fixed this one as well.

[2021-06-28 06:16] folke commented on #1438
@babygau I fixed this in #1442. Would be great if you could confirm

[2021-06-28 06:18] folke commented on #1267
The problem stems from the check on runtime files for specific queries. Caching whether a query exists or doesn't exist, resolves this.

[2021-06-28 06:25] babygau commented on #1438
@folke, the issue's gone. I could confirm that search and replace are now responsive and fast. Thank you!

[2021-06-28 06:55] folke commented on #1396
Can you check if #1442 resolves this?

[2021-06-28 06:56] folke commented on #1214
Can you check if #1442 resolves this?

[2021-06-28 07:00] folke commented on #1100
Can you check if #1442 resolves this?

[2021-06-28 07:01] folke commented on #1436
If you were using `foldexpr`, then #1442 probably fixes this. Would be great if you could confirm

[2021-06-28 07:24] Racle commented on #1214
Quick test result:
Seems that it doesn't stop `:Prettier` freezing test file.
But `:PrettierAsync` seems to be working (but that works about same with nvim-treesitter and with @folke version).

IIRC even `:PrettierAsync` froze before but works just fine now (few second "lag" (but doesn't freeze UI) when that formats large file and file refresh, but nothing major).
That freeze doesn't happen anymor

[2021-06-28 11:07] theHamsta commented on #1214
Normal people solve one issue per PR. @folke solves all performance issue at once :joy: :tada:

[2021-06-28 11:11] theHamsta commented on #1349
Of course not. Leave it open until you think it is not an issue anymore

[2021-06-28 11:29] folke commented on #1214
@theHamsta I believe @Racle says that my PR doesn't make any difference, but the `PrettierAsync` seems to be fixed regardless of my PR. So not all performance issues ;)

[2021-06-28 14:17] #1267 closed

[2021-06-28 14:59] stsewd commented on #1418
Great!

[2021-06-28 14:59] #1418 closed

[2021-06-28 15:22] hiddenruins opened #1444 "Healthcheck error"
**Describe the bug**

Whenever `checkhealth` is run the second time it shows the following error. I guess this started happening after 90024c24aaef98065579173a75acf59c8f132af8

![image](https://user-images.githubusercontent.com/5569621/123660731-a231f400-d853-11eb-80e7-3ff3c029a5e0.png)

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Ope

[2021-06-28 15:53] stsewd commented on #1439
+1 on showing the more common things in the readme, and have a wiki to cover all other tools.

[2021-06-28 15:56] stsewd commented on #1439
I have created this page https://github.com/nvim-treesitter/nvim-treesitter/wiki/Installation

[2021-06-28 19:43] theHamsta commented on #1441
It can be done with `:h set_query()`. You could use the a modified code of `get_query`

[code]

It could be either documented in the README or we could provide a custom filter function. Ideally `set_query` should accept a function and not only a string to get the query text.

The easiest option for a personal config that can be done right now is
[code]
this fixes the fold queries for Python for me

[2021-06-28 20:54] paniash commented on #1436
@folke Hi! I'll do the testing whenever I find some time. My finals are around the corner 😭.

[2021-06-28 21:02] theHamsta commented on #1441
I reopened this issue since we have to document this better or provide an option directly in setup

[2021-06-28 21:03] theHamsta commented on #1441
Out of interest: which language do you want to fix?

[2021-06-28 21:13] TornaxO7 commented on #1100
Wakawakadu! Yes, I feel a better performance! Thank you! :)

[2021-06-28 21:13] #1100 closed

[2021-06-28 21:30] folke commented on #1436
Nothing urgent here. Good luck with your finals!

[2021-06-28 21:36] farbodsz opened #1447 "[Question] Parsers for doc comments?"
So I noticed that there's a parser for JSDoc which highlights JS doc comments by use of injections,. I've also noticed for others like Python, a different injection like reStructuredText is used.

I'm thinking it would be good to add highlighting for doc comments in other languages. Should I go ahead and start working on a tree-sitter parser for a doc-comment "language" or is there a better/easier

[2021-06-28 23:51] frangio opened #1448 "Wrong indentation after JavaScript multiline function arguments"
When function arguments are placed on separate lines, the first line of the function body is not properly indented.

[code]

**Output of `nvim --version`**

<details>
<code>
NVIM v0.5.0-dev+1420-gc78816eb6
Build type: RelWithDebInfo
LuaJIT 2.0.5
Compilation: /usr/bin/cc -D_FORTIFY_SOURCE=2 -march=x86-64 -mtune=generic -O2 -pipe -fno-plt -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -O2 -g -Og -g -Wall -We

[2021-06-29 00:20] stsewd commented on #1447
We already have the comment parser :) https://github.com/stsewd/tree-sitter-comment which is injected in several languages https://github.com/nvim-treesitter/nvim-treesitter/blob/master/queries/css/injections.scm if there are languages missing that injection, a PR in welcome!

Also, every language has their own format for docstrings like javadoc, markdown, etc.

[2021-06-29 00:54] stsewd commented on #1441
We have https://github.com/nvim-treesitter/nvim-treesitter#adding-queries, but I think that doesn't work anymore.

[2021-06-29 07:22] gjeusel commented on #1441
Yes indeed, I believe an option in the setup, documented, to give a list of languages queries to ignore from nvim-treesitter would be optimal.

Same as you ! Python folding for one. But in general foldings (vue - typescript - ...) as nvim-treesitter defines too many of them for my taste.

Also a few other queries related to highlighting. For example, in python:
[code]

Will also match constants li

[2021-06-29 09:50] theHamsta commented on #1441
I guess this APP can be fixed like in C++
[code]

[2021-06-29 10:20] bhavitsharma opened #1449 "TSInstall errors with clang set as compiler"
**Describe the bug**

`TSInstall cpp` fails to compile when using clang as a compiler on nixos.

**To Reproduce**
`env CC=$(which clang) nvim '+TSInstallSync cpp'`

**Expected behavior**
Should compile

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

</code>
</details>

**Output of `nvim --version`**

<details>
<code>
NVIM v0.5.0-dev
Build type: Release
LuaJIT 2.1.0-beta3
Compilati

[2021-06-29 10:28] bhavitsharma commented on #1449
I think this is a problem with clang. When I tried to clone the repo and compile using `clang -o parser.so -I./src src/parser.c src/scanner.cc -lstdc++ -fPIC`, it gave the same error

[2021-06-29 10:33] theHamsta commented on #1449
Apple Clang? It's somehow not entering C++ mode.

[2021-06-29 10:34] bhavitsharma commented on #1449
Stupid me: using `clang++` worked. `require 'nvim-treesitter.install'.compilers = { 'clang++'}` worked.

[2021-06-29 10:35] #1449 closed

[2021-06-29 10:36] theHamsta commented on #1449
@bhavitsharma But it should also work with clang. clang++ will not always handle C files so you've got the inverse problem.

[2021-06-29 10:39] bhavitsharma commented on #1449
I guess then it's a problem with my nix configuration rather than treesitter because I can't compile even this with `clang`.

[code]
`clang temp.cpp`

[2021-06-29 10:55] theHamsta commented on #1449
But it can happen that clang++ fails with `CStruct = { .foo=1, .bar=2 }`

[2021-06-29 10:59] bhavitsharma commented on #1449
I think C++ 17 has supports for designated initializers for struct :) but I get your point. I am not sure if the issue with clang is reproducible in other platforms? Quick internet search reveals to use `clang -x c++` but I am not sure. The general recommendation to compile c++ files is to use `clang++` instead of clang.

[2021-06-29 11:12] jinh0 commented on #1396
I updated Treesitter to the latest version, including #1442 , but sadly nothing's changed.

[2021-06-29 12:01] Samyak2 commented on #1439
Okay, that makes sense. I've added packer.nvim to that wiki page.

Still, the wiki isn't mentioned in the README. A link to that wiki page in the installation section would be useful

[2021-06-29 12:09] jinh0 commented on #1448
Can confirm this is happening to me as well on the latest version of `nvim-treesitter` and up-to-date parsers!

[2021-06-29 13:32] jinh0 commented on #1396
@stsewd , apologies for the late response. I tried @clason 's solution from [neovim/neovim#14897](https://github.com/neovim/neovim/issues/14897) which merged with `neovim` 3 days ago. Sadly, typescript files are still slow to load. However, one thing to note is that JavaScript files load incredibly quick.

And these typescript files I'm talking about are not crazy big files. I'm talking <100 lines

[2021-06-29 14:27] stsewd commented on #1439
Linking to the wiki makes sense :+1:

[2021-06-29 14:30] theHamsta commented on #1439
And that one line with packer installation in README doesn't harm. You must have in mind that most people only copy the install instruction from the README and don't read much of the remaining documentation. So add `see wiki for other plugin managers` or `   use { 'nvim-treesitter/nvim-treesitter', run = ':TSUpdate'  }` to README

[2021-06-29 14:32] paniash commented on #872
Hi! Is this still open? A rough estimate when it will be merged with tree-sitter?

[2021-06-29 14:58] theHamsta commented on #872
Probably not so soon. A crashing parser is not tollerable for interactive in-process use in a editor.

[2021-06-29 16:10] Folaht commented on #1301
I'm having this issue for the first time.

[2021-06-29 18:06] #1444 closed

[2021-06-29 18:19] farbodsz commented on #1447
That's a great point I forgot about the comment parser :)

Nice, thanks for clarifying!

[2021-06-29 18:19] #1447 closed

[2021-06-29 19:39] pmdaly opened #1452 "Underline entire lines when closing parenthesis missing in python with gruvbox-material"
**Describe the bug**

When there are missing closing parenthesis in python, multiple lines will be entirely underlined until the syntax is corrected.  The bug started occurring recently and only occurs with gruvbox-material found here
https://github.com/sainnhe/gruvbox-material
but not gruvbox.  Previous versions of the python treesitter parser did not cause this issue.

**To Reproduce**

1. Use h

[2021-06-30 00:12] yujinyuz commented on #1448
Might be related to #1370 as well

[2021-06-30 11:09] Samyak2 commented on #1439
Yes, that is what I had in mind. Linking to the wiki page should be enough. Do I send a PR for this (it's a small change, so I'm not sure)?

[2021-06-30 11:16] theHamsta commented on #1439
@Samyak2 yes, would be nice if you could create a PR

[2021-06-30 15:30] paniash opened #1454 "Inconsistency in highlighting `\section{}` and `\section*{}` in LaTeX"
**Describe the bug**

There is inconsistency in highlighting numbered and non-numbered section groups such as `\section{}` and `\section*{}` (applies to subsections as well). The numbered sections are highlighted whereas non-numbered sections default to highlighting for plaintext.

**Expected behavior**

Both numbered and non-numbered sections must have syntax highlighting (which is only present i

[2021-06-30 15:34] paniash commented on #1436
Output of `:verbose set foldexpr?` comes out to be `foldexpr=0`.

[2021-06-30 16:07] nabezokodaikon commented on #1419
I recently bought a new Mac and set it up and the error no longer occurs.

[2021-06-30 16:09] theHamsta commented on #1419
The solution for all our issues :smile:

[2021-06-30 16:09] #1419 closed

[2021-06-30 16:22] ibhagwan commented on #1168
Tysm @JoranHonig!

I'm still not getting highlights though, it's very possible I'm doing something wrong as I just started using nvim 0.5 with TS, I followed the instructions in this thread, compiled the Solidity parser, I can see it's loaded in the TS modules but for some reason the highlight feature still appears as missing.

Output from `:TSModuleInfo`:

![image](https://user-images.githubuserc

[2021-06-30 17:53] folke commented on #1436
Just a heads up, there's another perf issue with foldexpr on large files. Foldexpr is evaluated for each line to determine its level. I've started debugging a bit and the vim-lua bridge seems to be a bottlneck here. Even when I return `0` in the lua code instead of actually calculating the correct value, opening a large file from the command line is super, super slow.

[2021-06-30 18:36] #1454 closed

[2021-06-30 20:40] #1439 closed

[2021-06-30 21:17] paniash commented on #1454
@theHamsta Thanks! Works well now.

[2021-07-01 00:41] ibhagwan commented on #1168
So I was able to make highlights work, the steps were as follows:

- Download [queries\highlights.scm](https://github.com/JoranHonig/tree-sitter-solidity/blob/master/queries/highlights.scm) into `~/.local/share/nvim/site/pack/packer/start/nvim-treesitter/queries/solidity` (assuming `packer` as plugin manager):
[code]
- Edit the file and comment out lines 68-69, otherwise you'll get the error `tree

[2021-07-01 02:02] ibhagwan commented on #1168
@JoranHonig, I was able to fix the block comment issue, copied the regex from [tree-sitter-c](https://github.com/tree-sitter/tree-sitter-c/blob/master/grammar.js#L965) and, created  [PR #14](https://github.com/JoranHonig/tree-sitter-solidity/pull/14).

[2021-07-01 06:54] paniash opened #1457 "No highlighting of comment keywords like `TODO`, `FIXME` in LaTeX"
**Describe the bug**

Comments in a file in any language with keywords such as "TODO" or "FIXME" get highlighted. However, this is not the case in .tex files.

**To Reproduce**

Steps to reproduce the behavior:

1. Open a python file
2. Type `#TODO: Fix comment highlighting`. "TODO" is highlighted
3. Open a .tex file
4. Type `%TODO: Fix comment highlighting`.  "TODO" is not highlighted.

**Expecte

[2021-07-01 07:10] theHamsta commented on #1457
One would have to add a `injections.scm` with content `(comment) @comment` like for the other languages. Do you want to create a PR? I can also do this after work.

[2021-07-01 08:03] luator opened #1459 "checkhealth: Check mark table for "Parser/Features" is missing one column header"
**Describe the bug**

The "Parser/Features" table of checkhealth seems to be missing one column header

**To Reproduce**

Run `:checkhealth nvim_treesitter`

The list of parsers looks like this:
[code]
It is unclear what the meaning of the last column is.

**Expected behavior**

All check mark columns should have a header, i.e. something like below:
[code]

**Output of `:checkhealth nvim_treesitte

[2021-07-01 08:33] #1457 closed

[2021-07-01 19:33] Samyak2 commented on #1384
Adding `switch_statement` and `switch_case` to the indents file for ECMA (which is same as the indents file for JS) seems to fix it.

<details>
<summary>click to show diff</summary>

[code]

</details>

I will open a PR soon for this.

[2021-07-02 00:35] nomasprime opened #1467 "Can't change highlight"
**Describe the bug**

With highlighting module enabled I can't change highlight.

**To Reproduce**

Steps to reproduce the behavior:

1. Enable highlight module
2. `:hi SpellBad ctermfg=red`
3. `:setlocal spell!`
4. Spelling mistakes are still underlined

**Expected behavior**

Spelling mistakes should be red.

**Output of `:checkhealth nvim_treesitter`**

[code]

**Output of `nvim --version`**

[

[2021-07-02 03:44] codehia opened #1468 "- ERROR: Impossible to load parser for python: Failed to load parser: uv_dlopen: /snap/core18/current/lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.33' not found (required by /lib/x86_64-linux-gnu/libstdc++.so.6)"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

Paste the output here

</code>
</details>

**Out

[2021-07-02 04:07] #1468 closed

[2021-07-02 05:22] asgeo1 opened #1469 "Treesitter syntax and folding not immediately loading when Vim is launched like `vim path/to/file.lua`"
If I edit a file like this `vim path/to/file.lua` the treesitter highlighting, folding etc is not working. Treesitter seems to be loaded though, as I can use `:TSPlaygroundToggle` and see the normal tree output.

Running `:e %`, and treesitter syntax & folds start working fine.

However, if I open vim _first_, and then `:e /path/to/file.lua` it works fine from the start. Other plugins for opening

[2021-07-02 06:00] aegatlin opened #1471 "combining ensure_installed: "maintained" with other, specified languages"
**Is your feature request related to a problem? Please describe.**
I want all the 'maintained' parsers and then some more parsers. All specified in "ensure_installed".

**Describe the solution you'd like**
I don't claim this is a _good_ solution, but it is along the lines of what I have in mind. I want "all the maintained parsers and then some specific additional ones".

[code]

Another (probably

[2021-07-02 08:29] folke commented on #1468
Hi! I'm having a similar issue on Fedora with the Nix neovim-nighlty. Since you closed it, what did you do to fix this? :)

[2021-07-02 08:46] nabezokodaikon opened #1473 "Error during compilation"
**Describe the bug**
Error during compilation.

**To Reproduce**

Steps to reproduce the behavior:

1. Start neovim with nvim-treesitter installed.
2. The nvim-treesitter is compiled.
2. See error

**Expected behavior**

nvim-treesitter should not cause compilation errors.

**Output of `:checkhealth nvim_treesitter`**
There are no particular errors.

<details>
<code>

health#nvim_treesitter#check

[2021-07-02 09:37] nabezokodaikon commented on #1473
sorry. It is no longer reproduced.

[2021-07-02 09:58] akinsho commented on #1473
I was seeing this as well and had to disable `cmake` to get it to stop.

[2021-07-02 10:01] nabezokodaikon commented on #1473
What exactly did you do to stop `cmake`?

[2021-07-02 10:09] akinsho commented on #1473
I used `TSUninstall cmake` then I added cmake to the `ignore_install = { "verilog", "cmake" },` config option

[2021-07-02 10:12] nabezokodaikon commented on #1473
Thanks.
In my environment, I didn't get the error even if I didn't do that.

[2021-07-02 10:33] AnatoleLucet opened #1474 "Not detecting when JS string templating ends"
**Describe the bug**

In javascript / typescript, a line with no semicolon at the end which contains backticks followed by a colon, seems to break the way treesitter detects the end of the string.

**To Reproduce**

[code]
Funny thing is, it also seems to break github's highlighting :sweat_smile:

![](https://user-images.githubusercontent.com/35486736/124259478-d6950100-db2e-11eb-9947-6902dbf324eb

[2021-07-02 11:44] #1147 closed

[2021-07-02 11:45] lourenci commented on #1147
It turns out [lexima](https://github.com/cohama/lexima.vim/issues/115) is breaking the indentation. Thanks.

[2021-07-02 14:16] codehia commented on #1468
I replaced the snap installation with appimage installation and it fixed itself. I hope that helps.

[2021-07-02 15:41] MichaHoffmann commented on #1474
disclaimer: i dont know javascript or typescript.

It works with `""` and `''`:

[code]

definition is here: https://github.com/tree-sitter/tree-sitter-typescript/blob/master/common/define-grammar.js#L654
it should be parsed as `string` here, but in the javascript grammar: https://github.com/tree-sitter/tree-sitter-javascript/blob/master/grammar.js#L865 no backticks are allowed. They are allowed h

[2021-07-02 16:06] AnatoleLucet commented on #1474
[Template literate type](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html) is a relatively new typescript feature, so that may be why

[2021-07-02 16:12] theHamsta commented on #1474
Probably Github uses the parser for highlighting.

[2021-07-02 17:05] MichaHoffmann commented on #1474
There is an issue for this in the tree-sitter-typescript repo: https://github.com/tree-sitter/tree-sitter-typescript/issues/136

[2021-07-02 17:54] millnitzluan commented on #1405
I don't that the errors happen in telescope, due that it's easy to get the error using telescope + preview. I think that the same happens without telescope.

[2021-07-02 20:33] paniash commented on #494
Recently added a screenshot using Julia!

[2021-07-02 22:19] farbodsz commented on #1469
If you disable treesitter-based folding, do things work as expected?

(I'm wondering if it's related to #1412)

[2021-07-02 22:46] ldelossa commented on #1309
Is this a known issue? Right now C indentation won't work for me.

[2021-07-02 23:35] ahelwer opened #1478 "Highlighting not working after `:TSInstallFromGrammar`"
**Versions:**

Using neovim 0.5.0 on Windows 10 with tree-sitter-cli 0.20.0 and latest nvim-treesitter plugin version.

**Problem:**

After installing [tree-sitter-tlaplus](https://github.com/tlaplus-community/tree-sitter-tlaplus) with `:TSInstallFromGrammar` and verifying its workings with `:checkhealth`, I opened a .tla file and no syntax highlighting was present. Tree-sitter syntax highlighting

[2021-07-03 01:02] asgeo1 commented on #1469
Yes, disabling these settings works:

[code]

And then opening a file via `vim path/to/file.lua`, the treesitter syntax highlighting works now.  (with `indent` folding).

[2021-07-03 01:18] ahelwer commented on #1478
This is possibly a tree-sitter-cli 0.20.0 issue; see https://github.com/tree-sitter/tree-sitter/issues/1232

I will try downgrading to 0.19.5 or just wait for the hotfix to see if it fixes this issue.

[2021-07-03 09:02] paniash commented on #529
Any chances we'll be getting support for snippets in treesitter?

[2021-07-03 15:12] stsewd commented on #1473
Hi, some parsers may require a c++ compiler, please let us know if you have a more specific steps to reproduce this.

https://github.com/nvim-treesitter/nvim-treesitter/wiki/Linux-Support
https://github.com/nvim-treesitter/nvim-treesitter/wiki/Windows-support

[2021-07-03 15:12] #1473 closed

[2021-07-03 15:14] stsewd commented on #529
I'm not sure how tree-sitter would help with snippets, do you have something in mind on how to integrate tree-sitter for snippets?

[2021-07-03 15:21] stsewd commented on #1478
@ahelwer hi, I think the linked issue on tree-sitter is for the highlight from the tree-sitter cli tool, looks like you just need to add query files for your parser https://github.com/nvim-treesitter/nvim-treesitter/tree/master/queries, that is creating a `~/.config/nvim/after/queries/tlaplus/highlights.scm` file.

[2021-07-03 15:22] stsewd commented on #1405
@millnitzluan can you provide a file to replicate this? Also, are you able to replicate this without telescope?

[2021-07-03 15:24] stsewd commented on #1474
Hi, this is a bug in the parser, please subscribe to https://github.com/tree-sitter/tree-sitter-typescript/issues/136.

[2021-07-03 15:24] #1474 closed

[2021-07-03 15:26] stsewd commented on #1467
Can you provide a file where we can tests this?

[2021-07-03 15:33] stsewd commented on #1432
@AusCyberman that's the version of the tree-sitter cli command, as you can see in your checkhealth ouput neovim was compiled using an old version of the tree-sitter runtime

Please report this to the nixos package manager, or try installing the latest tree-sitter runtime (I don't use nix so not sure how to do this)

[2021-07-03 15:33] #1432 closed

[2021-07-03 15:41] nabezokodaikon commented on #1473
I didn't know the reproduction procedure because it was fixed before I knew it.

[2021-07-03 15:46] stsewd commented on #1473
Looks like the problem was in the cmake parser https://github.com/uyha/tree-sitter-cmake/commit/7355866e1d07c51deb725628f184dba0da0cde98, and it has been fixed upstream

[2021-07-03 15:50] stsewd commented on #1452
Hi, this looks like it's part of the theme https://github.com/sainnhe/gruvbox-material/blob/6a5e1392c3c619e74b5c450da17b1915a7bddcb2/colors/gruvbox-material.vim#L425

By default, we don't link `TSError` to anything https://github.com/nvim-treesitter/nvim-treesitter/blob/master/plugin/nvim-treesitter.vim

[2021-07-03 15:50] #1452 closed

[2021-07-03 16:27] nabezokodaikon commented on #1473
Thank you. It was helpful.

[2021-07-03 17:04] marcelarie commented on #1111
Hey!! Any news on this? I will love to know how to do this manually if not. 👍🏽

[2021-07-03 23:04] ahelwer commented on #1478
Hi @stsewd, thank you - I tried copying my highlights.scm file into my `nvim-data/nvim-treesitter/queries/tlaplus` directory but highlighting still does not work. Shouldn't the `:TSInstallFromGrammar` command do that automatically or is that not its intended function? I am following the directions from the [Adding Parsers](https://github.com/nvim-treesitter/nvim-treesitter#adding-parsers) section

[2021-07-04 12:51] dimbleby opened #1483 "Treesitter folding makes RustFmt very slow"
**Describe the bug**

Enabling treesitter folding makes rust formatting via [rust.vim](https://github.com/rust-lang/rust.vim/)'s `:RustFmt` very slow.

**To Reproduce**

Install nvim-treesitter and rust.vim.

Edit a moderately large rust file - in the attached demo I am using https://github.com/dtolnay/serde/blob/master/serde_derive/src/de.rs.

Enable treesitter folding: `:set foldmethod=expr fold

[2021-07-04 12:59] #1408 closed

[2021-07-04 13:47] dimbleby commented on #1483
Replacing `:RustFmt` with direct use of `rustfmt` sidesteps this... at which point I rediscovered #1424

[2021-07-04 14:50] antonk52 opened #1485 "TSKeywordReturn feature request"
**Is your feature request related to a problem? Please describe.**
When porting a colorscheme to treesitter I came across a difficulty that treesitter does not expose a highlighting group for the `return` keyword. Which makes it currently impossible to color it differently to other keywords. Though there are highlighting groups for `function` keyword and `operator` keyword [here](https://github.co

[2021-07-04 14:54] theHamsta commented on #1485
I would be very open to this suggestion for return/yield keywords. Do you want to create a PR to introduce this feature? Just ping me in case you need any help!

[2021-07-04 15:21] antonk52 commented on #1485
Happy to help implement this though I am not familiar with the codebase. From my current understanding in this repository only the keywords themselves should added about [here](https://github.com/nvim-treesitter/nvim-treesitter/blob/4eb19c9e6da5c1628a5e2b4445595ecb39019efc/lua/nvim-treesitter/highlight.lua#L46-L48) and then they should get supported in the parser plugins. Is this assumption correc

[2021-07-04 15:27] theHamsta commented on #1485
You would need to
- add a highlight group here https://github.com/nvim-treesitter/nvim-treesitter/blob/b3aac12f59fc5af1add18ae5ab2555b2e0d4e8e0/plugin/nvim-treesitter.vim#L64 Choose a default Vim highlight group. In doubt just `TSKeyword` since this was the highlight before
- add capture `@keyword.return` here https://github.com/nvim-treesitter/nvim-treesitter/blob/4eb19c9e6da5c1628a5e2b4445595ecb

[2021-07-04 15:56] antonk52 commented on #1485
Thank you for the detailed explanation I will try to send a PR later on tonight

[2021-07-04 16:10] fuelen opened #1486 "Highlighting for elixir is slow"
**Describe the bug**
Opening any elixir file takes ~1 second. Even for very small files. Such timing makes it unusable.
Opening other files like *.js or *.json is very fast.

**To Reproduce**

My config:
[code]
Open any file, like https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/application.ex

**Expected behavior**
A performance as in other plugins

**Output of `:checkhealth nvim_treesitt

[2021-07-04 16:12] theHamsta commented on #1485
And I forgot: adding TSkeywordReturn to documentation and CONTRIBUTING.md

[2021-07-04 17:04] andyl commented on #1486
I've noticed the same thing.

[2021-07-04 17:38] theHamsta commented on #1486
Can you try to benchmark `tree-sitter query` with our highlights.scm in the tree-sitter-elixir repo? Kotlin for example is affected by https://github.com/tree-sitter/tree-sitter/issues/973

[2021-07-04 18:59] stsewd commented on #1483
Hi, I think this is the same problem described in https://github.com/nvim-treesitter/nvim-treesitter/issues/1436#issuecomment-871610832, basically nvim calls the foldexpression on each line, and inside that function we call the lua code, the back and forth from lua to vimscript is slow, I'll see if I can do some improvements.

[2021-07-04 19:15] dimbleby commented on #1483
You're probably right of course, but I'll note that opening the file that I was using is not slow.  So there's something specifically about the interaction with `:RustFmt`, I think.

[2021-07-04 19:47] theHamsta commented on #1483
Maybe `:RustFmt` is doing this line by line, where the problem escalated to O^2 complicity. Did you try to format with rust-analyzer whether it can do it much faster?

For experiments please also uninstall the `comment` parser in case you have it installed.

[2021-07-04 19:49] #1485 closed

[2021-07-04 20:05] stsewd commented on #1483
I tried caching the results in vimscript, but didn't see any improvements, I think the problem is with `setline` https://github.com/rust-lang/rust.vim/blob/87c745d8d506fc1eecc1d81df15d5bde1658a2fc/autoload/rustfmt.vim#L160, it's called once, but looks like internally neovim does something that makes that call slow when setting multilines https://github.com/nvim-treesitter/nvim-treesitter/issues/11

[2021-07-04 20:06] stsewd commented on #1118
Hi, I think disabling treesitter folding (foldmethod=expr) should make things faster.

[2021-07-04 20:09] stsewd commented on #1483
From the docs

[code]

so, yeah, that is triggering a lot of calls to the indent expression on every setline call.

[2021-07-04 20:10] fuelen commented on #1486
@theHamsta
[code]
[code]

and this is a file from private project 2190 LOC:
[code]

[2021-07-04 20:15] theHamsta commented on #1483
I guess @folke reported that even an empty Lua function as `foldexpr` was slow.

[2021-07-04 20:17] theHamsta commented on #1486
That's pretty slow and the time seems to come only from loading the query file. Can you report it at the tree-sitter repo? Also try whether a parser generated with 0.18.3 tree-sitter is faster.

[2021-07-04 20:25] folke commented on #1483
@theHamsta yep. Just open a large text file (or any file without treesitter). You'll see the same problem. Initially I thought it was the has_parser check, but if I return `0` in the treesitter Lua fold method, it's still very slow.

The one thing I didn't check yet is wether something odd is going on with the requires at the top. Normally they get cached, but maybe for some reason they're not in

[2021-07-04 20:39] stsewd commented on #1483
I just tested changing `setline` with `nvim_buf_set_lines` and things are faster, so the problem is with `setline`, I'm closing this in favor of https://github.com/nvim-treesitter/nvim-treesitter/issues/1118. I'll send a patch to rust.vim, but after that change you'll now see https://github.com/nvim-treesitter/nvim-treesitter/issues/1424 after running Rustfmt :/

[2021-07-04 20:39] #1483 closed

[2021-07-04 20:40] stsewd commented on #1118
Looks like using `nvim_buf_set_lines()` instead of `setline` is faster, this is because setline gets called on every item.

[code]

[2021-07-04 20:42] fuelen commented on #1486
Should I create a new issue? Or just drop a comment using a link you've sent?
Unfortunately, I'm unable to compile tree-sitter v0.18.3

[2021-07-04 20:45] stsewd commented on #1483
I have opened https://github.com/rust-lang/rust.vim/pull/448

[2021-07-04 21:56] stsewd commented on #1478
I think that was done before, but must upstream queries aren't neovim specific, so we require them to be in the repo now.

I have tried to install your grammar, but I got

[code]

[2021-07-04 22:00] stsewd commented on #1478
Also, looksl like the `tla` filetype isn't included in neovim, so you'll have to set it manually with `:set filetype=tla`

[2021-07-04 22:52] theHamsta commented on #1478
@ahelwer doesn't import any queries. It just generates and compiles the parser

[2021-07-05 02:28] charbelnicolas opened #1494 "Weird lines shown on buffer when using nvim-treesitter and svelte"
**Describe the bug**

When enabling nvim-treesitter highlighting on svelte, neovim shows some weird lines in the buffer.

**To Reproduce**

1. Open an .svelte file with nvim-treesitter highlight enabled.

**Expected behavior**

I expect the lines to not be present.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

health#nvim_treesitter#check
========================================

[2021-07-05 02:43] charbelnicolas commented on #1494
A small video showing the issue:

https://user-images.githubusercontent.com/14960414/124410828-de140000-dd10-11eb-9d59-bab1b13c7b88.mp4

[2021-07-05 02:47] benwainwright commented on #1396
Can confirm I'm getting the same experience. My laptop is pretty fast so its not a big deal, but where JavaScript files in the same project are near instantaneous to load, there is a slight but definitely discernible delay in TS files when they are loaded.

[2021-07-05 04:05] stsewd commented on #1494
Hi, this issue is the same as https://github.com/nvim-treesitter/nvim-treesitter/issues/1371.

[2021-07-05 04:05] #1494 closed

[2021-07-05 05:07] stsewd commented on #871
Looks like the queries are getting overridden momentarily, e.g, the `@variable` capture takes precedence over `@constant`  for a moment, removing `@variable` make the flickering go away. One way to reproduce this is by opening the file and moving with `Ggg`, moving the cursor over the incorrect line makes it go to normal.

[2021-07-05 05:11] stsewd commented on #1319
Hi, the out of sync problem is described in https://github.com/nvim-treesitter/nvim-treesitter/issues/1424, I'm closing this in favor of the other one.

[2021-07-05 05:11] #1319 closed

[2021-07-05 05:27] stsewd commented on #887
@gegoune so is this problem with `foldlevelstart=1` them?

You'll get that with `foldlevelstart=2`

[code]

That't the expected behavior from the docs.

Fold 0 is having the whole yaml folded.

[2021-07-05 05:45] stsewd commented on #1287
Hi, can you reproduce this with a minimal init.vim?

[code]

`nvim -u init.vim test.yaml`

I'm not able to reproduce this, maybe a plugin is breaking it?

[2021-07-05 05:46] stsewd commented on #1469
Hi, can you reproduce this with a minimal init.vim?

[code]

`nvim -u init.vim test.yaml`

I'm not able to reproduce this, maybe a plugin is breaking it?

[2021-07-05 07:09] K4LCIFER opened #1497 "Random keywords are being unneededly underlined"
**Describe the bug**

For some reason, random keywords are being underlined as seen in the following image
![image](https://user-images.githubusercontent.com/7829231/124430745-6b148480-dd24-11eb-95bb-25b88b77c89e.png)
In the above C code snippet example, you can see that keywords like `for`, `uint8_t`, `return` are being underlined. Even portions of functions are being underlined like the `rx_` of

[2021-07-05 08:27] asgeo1 commented on #1469
@stsewd , this is the minimal example I can come up with for the syntax highlighting not working:

[code]

If you comment out the line `vim.cmd [[syntax enable]]` then treesitter syntax loads fine.  OR if you comment out the "folding" lines (but keep `syntax enable`), then it also loads treesitter syntax fine.

I'm not sure yet what is causing the folding to not work, seems to work in this minimal

[2021-07-05 09:32] gegoune commented on #1371
Seeing the same in vue with TS enabled.

[2021-07-05 10:32] theHamsta commented on #1497
Is your spell checker? With tree-sitter it will no longer only check comments but also your code. `:set nospell`

[2021-07-05 10:34] #1459 closed

[2021-07-05 11:54] wibbit opened #1499 "query.lua:367: No handler for any-of?"
Please note, I am running the most recent release 0.5.0, not master.
**Describe the bug**

When editing a .py file, I get the following error
treesitter/highlighter: Error executing lua: /opt/bats/share/nvim/runtime/lua/vim/treesitter/query.lua:376: No handler for any-of?

**To Reproduce**

Edit a blank .py file, and start typing, errors straight away.

**Expected behavior**

Well, for it not to t

[2021-07-05 14:38] theHamsta commented on #1499
Did you install Neovim 0.5 with a `make clean` before building. Sometimes the runtime files don't get updated. `any-of?` is defined in Neovim core. If it's not there the your Neovim version is maybe too old.

[2021-07-05 15:30] wibbit commented on #1499
Thanks for the quick reply.

This is built as an RPM, so each time it gets a clean build env.

However, the version of query.lua laid down by the RPM certainly doesn't have "any-of?" listed, so I'll do some more digging.

[2021-07-05 15:53] gegoune commented on #887
@stsewd I am not sure how that is suppose to work to be honest. With `foldlevelstart=1` I do get initial main object folded like this:
<img width="119" alt="Screenshot 2021-07-05 at 18 48 32" src="https://user-images.githubusercontent.com/69750637/124496052-9ac59a00-ddc1-11eb-9826-f0768e641869.png">

If that is what it is suppose to be that's fine, but I think I would expect to see all keys of `da

[2021-07-05 16:00] wibbit commented on #1499
This issue was down to how I was building the RPM, and the spec file was pointing to an older version of a tar.gz file.

After cleaning that up, and actually building 0.5.0 and not an old nightly, the issue went away.

[2021-07-05 16:00] #1499 closed

[2021-07-05 16:39] brandoncc opened #1500 "Multiline assignments not indenting in Ruby"
Thanks for all of the hard work on this!

I am finding that multi-line assignments do not indent lines in Ruby.

My `TSModuleInfo` output:

[code]

The code:

[code]

If I highlight this code and press `=`, it becomes:

[code]

I used the playground to check the parsed trees and this is what I found:

[code]

[code]

Is this a bug, or misconfiguration?

[2021-07-05 16:41] brandoncc opened #1501 "Highlight breaks vim indentation in Ruby"
My `TSModuleInfo` output:

[code]
The [first indentation issue](https://github.com/nvim-treesitter/nvim-treesitter/issues/1500) I experienced was with the indent module, and after I disabled that I experienced another bug:

[code]

If I disable the `highlight` module, this new bug goes away. Is this a bug, or misconfiguration?

[2021-07-05 16:41] stsewd commented on #1497
Steps to reproduce the behavior:

Can you share the file you are opening? also, a minimal init.vim would be helpful

[2021-07-05 17:10] brandoncc commented on #1501
You are right, that does fix the issue! I'm trying to figure out the right path here...is the only downside to having both on at the same time a speed loss? Would it cause other bugs? Is there a different recommended path? I'm thinking I should probably just leave highlight off for ruby files, but want to understand the repercussions of my decision. Is the only improvement brought by treesitter im

[2021-07-05 17:13] stsewd commented on #1500
Hi, this is probably a bug, indentation is experimental and isn't complete yet.

[2021-07-05 17:14] theHamsta commented on #1501
I guess the only downside is speed-loss which you won't notice when you vim-regex was fast enough. Also you would see the vim-regex highlights if tree-sitter does not set a highlight in a specific situation.

I'm closing this since we have issues with the same problem already open. In the end, we will have to replace every feature that is implemented with the traditional highlights but tree-sitter

[2021-07-05 17:14] #1501 closed

[2021-07-05 17:18] brandoncc commented on #1501
Thanks again for your time, I will play with that setting.

[2021-07-05 17:22] stsewd commented on #1249
I have started playing with a solution for this, I found a bug while doing so https://github.com/neovim/neovim/pull/14995.

[2021-07-05 17:26] brandoncc commented on #1500
Okay, thanks. Should we leave the issue open?

[2021-07-05 17:26] stsewd commented on #1500
yes!

[2021-07-05 19:23] stsewd commented on #887
@gegoune yes, that's the expected behavior since `foldstart=0` means folding the whole document, fold 1 will fold the body of the first level keys, and so on.

To get what you expect, you can set `foldnestmax=2`

[2021-07-05 19:23] #887 closed

[2021-07-05 19:52] stsewd commented on #1469
This looks like a problem with your package manager, I'm not able to replicate this using vim's pack feature. What about using packer's config option?

[code]

[2021-07-05 20:36] paniash opened #1506 "Weird italicized underlining in some files like LaTeX/HTML"
**Describe the bug**

At times, in certain sections of text, I notice italicized underlining when moving the cursor in one direction. Reversing the direction reverts the text back to normal.

**To Reproduce**

Steps to reproduce the behavior:

1. Open a .tex file and type the following:

[code]

2. Move the cursor across this section of text from bottom to top. One notices this section to become i

[2021-07-05 20:41] theHamsta commented on #1506
![image](https://user-images.githubusercontent.com/7189118/124516417-df612d80-dde1-11eb-9112-c1ecdc8426dd.png)
 Really weird surprisingly similar to https://github.com/nvim-treesitter/nvim-treesitter/issues/1371

[2021-07-05 20:57] paniash commented on #1506
@theHamsta I've noticed this same effect in html files as well!

[2021-07-05 20:59] theHamsta commented on #1506
It seems that all queries with `@_foo` match now automatically.

[code]

[2021-07-05 21:02] paniash commented on #1506
Hmm... I did notice this bug since I started using treesitter (about 10 days back) so maybe an update before this time?

[2021-07-05 21:03] theHamsta commented on #1371
This is the same issue as #1506
[code]
those queries in `html_tags/highlights` are the culprits. Apparently due to a change in tree-sitter or Neovim itself the `@_attr` captures are just ignored.

[2021-07-05 21:04] theHamsta commented on #1506
Is the same issue as for html. I posted the culprit queries for htmls.

[2021-07-05 21:15] theHamsta commented on #1371
Any one with too much time to bisect Neovim or Tree-sitter runtime versions? :smile:

[2021-07-05 22:54] asgeo1 commented on #1469
You're right, it seems to only happen when using packer. I tried vim-plug, and it was OK, even when using `syntax enable`.

I've only just moved to Packer, and to be honest, it's a bit frustrating how it works. It's difficult to enable/disable plugins for debugging issues like this.  And the comment you made about putting the `setup` inside `config` - it _should_ work like that to my understanding

[2021-07-06 00:01] yujinyuz commented on #1370
I'm not sure if this helps but if I'm on a `javascript` file and I do `set filetype=typescript`

the try..catch block indentation works as expected

Do you have any ideas why? I checked the indents.scm and I've seen that `javascript/indents.scm` inherits from ecma and jsx while typescript just inherits from ecma

[2021-07-06 07:39] #1384 closed

[2021-07-06 07:54] luisiacc commented on #1019
@kyazdani42 I'm still having this issue on latest nvim-treesitter, trying setting the filetype of the file to `javascriptreact` and see if you can reproduce.

[2021-07-06 11:32] picolloo commented on #647
I'm having kind of a same problem, my init.vim sources a treesitter.vim file like this:

init.vim
[code]

treesitter.vim
[code]

When I start vim I get the message: error trying to parse file treesitter.vim at the last EOF line

[2021-07-06 11:35] picolloo opened #1510 "Problem source config file .vim"
I'm having kind of a same problem, my init.vim sources a treesitter.vim file like this:

init.vim
[code]

treesitter.vim
[code]

When I start vim I get the message: error trying to parse file treesitter.vim at the last EOF line

_Originally posted by @tammarut in https://github.com/nvim-treesitter/nvim-treesitter/issues/647#issue-741812145

[2021-07-06 12:02] indeedhat commented on #1497
i was having this same issue and it was indeed the spell checker, thanks @theHamsta

[2021-07-06 12:07] theHamsta commented on #1497
There is a plugin that enables spell checking with tree-sitter only in comments https://github.com/lewis6991/spellsitter.nvim

[2021-07-06 12:08] #1497 closed

[2021-07-06 15:25] paniash commented on #1506
Apologies if I'm misunderstanding but is there a fix available for this issue?

[2021-07-06 15:39] stsewd commented on #1506
@paniash no yet, looks like we still need to research when this started happening or why those queries are being omitted

[2021-07-06 15:47] stsewd commented on #1510
Can you share a minimal init.vim that is causing this?

I'm not able to reproduce this with this.

[code]

[2021-07-06 16:35] Borbi opened #1511 "cpp.so is not a valid Win32 application"
When I create a new cpp file it says that it has failed to load parser, as cpp.so is not a valid Win32 application

**To Reproduce**

Steps to reproduce the behavior:

Create a new cpp file

**Output of `:checkhealth nvim_treesitter`**
health#nvim_treesitter#check
========================================================================
## Installation
  - WARNING: `tree-sitter` executable not foun

[2021-07-06 17:03] paniash commented on #1506
Example screenshot for when handling html files.

![pic-selected-210706-2232-25](https://user-images.githubusercontent.com/59497618/124639750-29ade180-deaa-11eb-9ed3-df92d87612eb.png)

[2021-07-06 17:11] picolloo commented on #1510
Hi @stsewd, i figured that out.
the problem was happening because of the source statement being placed inside `call plug#begin...call plug#end`.

Thank you anyway

[2021-07-06 17:11] #1510 closed

[2021-07-06 17:24] vigoux commented on #1506
@theHamsta, that's really weird that the queries ignore `@_foo`, does that also happens in the playground ?

[2021-07-06 17:57] theHamsta commented on #1486
@fuelen you can just set the dev dependency to the tree-sitter version and build via `npm install`. Whatever you think will help the tree-sitter authors to figure out what's going on. Did you do try to use a minimal query to see whether the problems are actually specific queries or the parser itself?

[2021-07-06 17:59] theHamsta commented on #1511
Did you try to compile it in "Native x64 build tools" (https://docs.microsoft.com/en-us/cpp/build/building-on-the-command-line?view=msvc-160). That usually works. You can download the Visual Studio Build tools for free and without a VS installation.

There were some problems reported with GCC, so you could either try clang or MSVC. More info in our Windows wiki

[2021-07-06 18:06] ujwal-jain opened #1515 "Treesitter failing to compile after being installed"
**Describe the bug**

I installed neovim on Mac through homebrew and after doing PlugInstall, nvim-treesitter is not compiling the languages.

**To Reproduce**

Steps to reproduce the behavior:

Install neovim through homebrew
Install Plug package manager for neovim
Add Plug 'nvim-treesitter/nvim-treesitter' to the init.vim
Type `nvim` in the command line
At the bottom, the status for treesitter w

[2021-07-06 20:41] fuelen commented on #1486
@theHamsta thanks for the tip about package.json.
I've created an issue in tree-sitter repo. See mention above^

Just tried a simple expression `1 + 1`:
[code]

[2021-07-06 20:57] theHamsta commented on #1486
I meant just to use a simple expression for the queries. Loading the query takes a long time. But we don't know whether it's a certain query or the parser itself loading for validation of the queries.

[2021-07-06 21:10] fuelen commented on #1486
well, I'm not sure if I'm doing it right, but I've removed everything from highlights.scm and left only this line:
[code]
querying a file with only 1 word `when` produces the following result:
[code]

benchmark:
[code]
Is this what you've asked?

[2021-07-06 21:21] fuelen commented on #1486
updated a comment, initially I was querying using invalid path to a query file

[2021-07-06 21:58] Borbi commented on #1511
Thank you! Fixed the problem by changing to clang

[2021-07-06 21:58] #1511 closed

[2021-07-07 02:34] ChristianChiarulli commented on #1506
Same here:

![image](https://user-images.githubusercontent.com/29136904/124691735-4ea25480-deaa-11eb-9c7d-fc9e70694e9d.png)

[2021-07-07 10:21] zealot128 opened #1520 "Question: Is it possible to embed languages, that are handling by traditional highlighting? (Vue/Pug)"
Over at https://github.com/ikatyang/tree-sitter-vue/issues/2 we discussed on how to handle Vue embedded languages. Scss, Typescript are already working.
There is another common embedded format, the Pug templating language (Former Jade, also similar to HAML/Slim in Ruby land).

By adding an appropriate query to queries/vue/injections.scm:

[code]

It seems to be possible to select the correct area.

[2021-07-07 10:36] theHamsta commented on #1520
It's not possible to mix tree-sitter and old regex highlighting at the moment. It is however not to difficult to create a parser. Apparently somebody already started https://github.com/RianFuro/tree-sitter-pug

[2021-07-07 10:43] zealot128 commented on #1520
@theHamsta Thank you for the quick answer. This looks promising! I will try to compile + install it manually later, as it is not available via TSInstall yet.

[2021-07-07 10:45] theHamsta commented on #1520
Hi, it would be possible to use tree-sitter and vim regex as long as the vim regex will find the language region by itself. Then,  you could just set `:set syntax=on` to enable regex highlighting.

[2021-07-07 13:32] dance commented on #438
Had the same problem. The solution was to make sure the CL.exe that treesitter uses to compile parsers matches nvim architecture. In my case nvim was built with x64 (to be sure check `nvim --version`, section `Compilation:`, path to cl.exe - `.../**x64**/cl.exe`) but CL.exe on path was x86 one. Solved by launching nvim via "x64 Native Tools Command Prompt" that Visual Studio provides (so that CL.e

[2021-07-07 13:58] thanatchakromsang commented on #1287
@stsewd Your reproducible does seem to work correctly for me but It still does not work on my config, maybe It's plugin breaking it like you said

[2021-07-07 14:06] stsewd commented on #1287
@thanatchakromsang you could try disabling plugins one by one to see which one is breaking folding

[2021-07-07 14:07] stsewd commented on #1469
@asgeo1 if you find the correct way to use this plugin with packer we would appreciate if you could update this section https://github.com/nvim-treesitter/nvim-treesitter/wiki/Installation#packernvim

[2021-07-07 14:07] #1469 closed

[2021-07-07 16:28] timsofteng commented on #1111
I'm tracking this as well.

[2021-07-07 17:31] theHamsta commented on #438
The artifacts should be built on every build of our CI. Just click on the green tick next to each commit to master

[2021-07-07 19:58] akinsho opened #1524 "[Question/Bug] terraform parser is triggered by packer's buffers"
Since the change that introduced the `hcl` parser, buffers created by [packer]() (the plugin manager) have been being highlights using that parser, which results in a screen full of errors.

![image](https://user-images.githubusercontent.com/22454918/124820704-bc5f8680-df65-11eb-82ba-71ab3a721e99.png)

https://github.com/nvim-treesitter/nvim-treesitter/blob/53d92f65bddf6623000b81ca5beae5ee3a6a736e

[2021-07-07 20:00] ahelwer commented on #1478
@stsewd thanks for that, running `:set filetype=tla` made highlighting appear! Your compiler errors have also inspired me to set up CI for my project to ensure it builds on non-windows platforms.

@theHamsta good to know about that behavior.

So my issue is fixed! I propose adding steps 5 and 6 to https://github.com/nvim-treesitter/nvim-treesitter#advanced-setup detailing the necessity of manually

[2021-07-07 20:04] stsewd commented on #1478
@ahelwer sure, anything that would have made this more clear.

[2021-07-07 20:13] MichaHoffmann commented on #1524
Hey @akinsho,

i think terraform is by far the most used filetype for this parser so its probably best to be pragmatic and remove `packer` and `nomad` here for now, possible reintroducing them at a later point with an appropriate filetype then.

[2021-07-07 21:26] vigoux commented on #1515
Looks like you ran into error while compiling the Haskell grammar, I am not an expert on that but I remember there was issues.

@theHamsta you followed that better, could you help us a bit here?

[2021-07-07 21:39] theHamsta commented on #1471
with a recent merge request this should now be possible via
[code]

[2021-07-07 21:53] theHamsta commented on #1515
It works on our CI with gcc-10 https://github.com/nvim-treesitter/nvim-treesitter/runs/3013299834. Maybe you can borrow that setup? Could it be related that your GCC tries to use libcpp instead of it's libstdc++

You need a compiler that uses C++-14 as a default language or download the parser from CI or compile the parser manually compiling C++ and C separately to be able to specify the language

[2021-07-07 22:03] ujwal-jain commented on #1515
Not really sure what the problem is, but certainly I don’t need Haskell, so I’m just going to ignore it lol. I tried following that setup you linked but to no success…

[2021-07-07 22:44] theHamsta commented on #1515
So this setup should just skip Haskell in `maintained`. You can also remove `ensure_install` and just install all parsers you need manually or just run `:TSInstall all` once where Haskell will but it will not annoy you the next start-up
[code]

[2021-07-07 23:12] #1524 closed

[2021-07-07 23:13] stsewd commented on #1524
PR merged!

[2021-07-08 02:29] sainnhe opened #1528 "Conflict with coc-highlight"
**Describe the bug**

![1](https://user-images.githubusercontent.com/37491630/124851357-f74cd300-dfd4-11eb-921b-86e23396d4f6.png)
![2](https://user-images.githubusercontent.com/37491630/124851361-fa47c380-dfd4-11eb-9122-3c1f2a1300d1.png)

As you can see, if I place the cursor on a variable, the highlight breaks.

**To Reproduce**

Steps to reproduce the behavior:

init.vim

[code]

1. Install coc-

[2021-07-08 09:09] minrui-hust opened #1529 "bracket highlight conflict with rainbow"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

rainbow is good plugin for highlight bracket, but the nvim-treesitter hightlight override it

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
an config to disable hightlight for bracket, lea

[2021-07-08 09:16] theHamsta commented on #1529
You can set this map entry to nil https://github.com/p00f/nvim-ts-rainbow/blob/72e51738bb6bf966f3f0b336739eb02cf3f8266a/lua/rainbow/internal.lua#L130-L131

Linking TSPunctuationBracket too something non-existenting probably also works.

[2021-07-08 10:22] MunifTanjim commented on #1435
How about using the value from `foldminlines` variable (`:help foldminlines`)?

[2021-07-08 12:10] nagisa opened #1530 "Hangs nvim uncancellably when encounters medium-sized binary files"
**Describe the bug**

`nvim` enters an uninterruptible hang when presented with a binary file that happens to share the extension with a supported language. While in this state `nvim` appears to ignore `SIGTERM` and similar. The only way to continue work is to `SIGKILL` nvim.

**To Reproduce**

1. Obtain a large binary file, with a `.ts` extension (e.g. `cat /dev/urandom | head -c 5242880 > bin.ts

[2021-07-08 13:02] SolaWing opened #1531 "ruby highlighter raise exception index out of data #162"
**Describe the bug**

given following ruby in-editing file, with nvim 0.5 and treesitter highlight plugin enabled, will raise following exception

[code]

![图片](https://user-images.githubusercontent.com/3897953/124729285-e18ecd80-df42-11eb-848b-f0735aeefc4b.png)

if I guard start index and return nil,  will throw

`treesitter/highlighter: Error executing lua: ...nvim-treesitter/lua/nvim-treesitter

[2021-07-08 13:55] mateusdeap opened #1532 "No syntax higlighting for exs files and what seems to be incomplete syntax highlighting for ex files"
**Describe the bug**

Not sure if this is really a bug, but I'm having issues getting highlighting to work with elixir on nvim. I get what seems to be syntax highlighting for .ex files, but it is not very good, and I get no highlighting for .exs files

**To Reproduce**

Steps to reproduce the behavior:

1. Install Ananthakumaran's elixir parser following the instructions present in this repo's REA

[2021-07-08 14:27] stsewd commented on #1435
that's better!

[2021-07-08 17:39] rostero1 commented on #94
I'm using tokyonight and my TSProperty are not green, but magenta.  If I inspect with `:TSHighlightCapturesUnderCursor` I see `* **@property** -> tsxTSProperty -> **TSProperty**`.  Should I open a new ticket?

[2021-07-08 18:16] savq commented on #570
@vigoux, the problem with types not being highlighted properly has to do with the order of the queries.

Right now, the derive macros query is defined before more general attribute macros queries, so the highlighting gets overwritten. Changing the order of the definitions fixes it.

-------
The other highlighting problems have been solved already.

[2021-07-08 19:42] #1435 closed

[2021-07-08 19:47] theHamsta commented on #1532
The errors mean that the elixir parser could not be loaded. It was probably compiled without the C++ scanner. Which OS are you using? You could try to download the parser from our CI (click onto the green ticks next to our commits and search for a button named `artifacts` to see whether there was a problem with you compiler configuration.

[2021-07-08 19:57] theHamsta commented on #1532
Sorry I forgot to tell you where to put the parser: there should be a parser directory where you installed this plugin.

[2021-07-08 23:05] #989 closed

[2021-07-08 23:08] theHamsta commented on #1273
I think this is no longer a problem with markdown parser deactivated and a proper vim regex highlighting for this filetype

[2021-07-08 23:08] #1273 closed

[2021-07-08 23:10] theHamsta commented on #1422
@kdurant did you find out whether really not using ssh was the issue or rather git vs curl?

[2021-07-08 23:32] stsewd commented on #570
Looks like this was fixed by https://github.com/nvim-treesitter/nvim-treesitter/pull/1535

[2021-07-08 23:32] #570 closed

[2021-07-09 00:13] stsewd commented on #1531
Thanks for the report, I tracked down this to https://github.com/neovim/neovim/blob/9c7e04eb3bfd70c08c19ab20a751345fa6ef8908/runtime/lua/vim/treesitter/query.lua#L181-L181.

Looks like that will error for any node that's on the last line. I'll test this more.

[2021-07-09 00:29] abenz1267 commented on #1506
It's even worse with tagged literals.

![Screenshot_20210709_022814](https://user-images.githubusercontent.com/7055955/125006030-72f26280-e05d-11eb-8087-962cc428d9be.png)

[2021-07-09 00:31] #1478 closed

[2021-07-09 01:40] minrui-hust commented on #1529
Thanks, I will try it.

[2021-07-09 01:55] stsewd commented on #1531
I was able to reduce the example to

[code]

This breaks other modules like playground and selection, the EOF char is being returned as the start (AKA n + 1 lines), that's raising an index error.

[2021-07-09 13:21] vigoux opened #1542 "Legacy syntax highlights appear in the visual selection (only for the initial buffer load)"
### Discussed in https://github.com/nvim-treesitter/nvim-treesitter/discussions/1539

<div type='discussions-op-text'>

<sup>Originally posted by **creasty** July  9, 2021</sup>
When I open a `.tsx` file and make a visual selection, highlights in the visual selection get rendered in different colors.
It can be fixed by reloading the buffer with `:e!` or opening another file with the same filetype,

[2021-07-09 16:37] stsewd commented on #1542
@creasty can you replicate this with a minimal init.vim? As mentioned, this may be due to a plugin.

[2021-07-09 18:05] #1531 closed

[2021-07-09 18:09] stsewd commented on #1531
This will be solved when https://github.com/neovim/neovim/pull/15030 is merged, but it's an upstream issue now

[2021-07-09 18:14] stsewd commented on #1530
Since the file isn't valid, it'll generate a lot of `(error)` nodes, I think parsing is slow when having a lot of error nodes as tree sitter tries to recover from those. This is also related to parsing the whole file the first time it's loaded, and that is done asynchronously.

[2021-07-09 18:18] stsewd commented on #1528
What's the behavior of `coc-highlight` without treesitter highlight? We also provide https://github.com/nvim-treesitter/nvim-treesitter-refactor#highlight-definitions that does the same as that extension I think.

[2021-07-10 01:02] sainnhe commented on #1528
`call CocActionAsync('highlight')` will highlight document symbols (definition and references), it uses `CocHighlightText`, `CocHighlightRead` and `CocHighlightWrite` hi groups, they are linked to `CursorColumn` by default.

In most of color schemes, `CursorColumn` will only color the background, so generally it will only change the background color and keep the foreground color.

In the second sc

[2021-07-10 01:31] stsewd commented on #1528
@sainnhe can you share a screenshot of how it looks without using treesitter? I'm not sure where coc does the highlight, maybe here https://github.com/neoclide/coc.nvim/blob/0cd193016fdd395e1817cdcae72cdac9e0f2b9c4/autoload/coc/highlight.vim#L44, but looks like it uses extmarks, maybe just the priority (tree-sitter is hardcoded to 100, maybe this should be configurable, but maybe there is a way to

[2021-07-10 01:48] sainnhe commented on #1528
![3](https://user-images.githubusercontent.com/37491630/125148158-e92cbd00-e162-11eb-934c-ee30ac577a27.png)

Since I use tree-sitter for highlighting, disabling it will make the highlights very different from other screenshots.

In this screenshot, I have nvim-treesitter enabled, but using the same code in a javascript file, since javascript module works nicely so I think it's a good example to co

[2021-07-10 02:15] stsewd commented on #1528
I'm not able to replicate this with the minimal init.vim that you provided. Make sure you have the latest version of the parser installed `TSUpdate typescript` and that you don't have any custom queries overrides in  you ~/.config/nvim/ directory.

[2021-07-10 02:18] elianiva commented on #1542
pretty sure this is caused by a plugin, I came across this issue a few weeks ago and it was caused by vim-matchup which was loaded later, i.e not loaded in startup

[2021-07-10 02:33] stsewd commented on #1371
Looks like vim's syntax hl is being enabled together with treesitter. Can you all check the output of `:set syntax?` in a html file.

[2021-07-10 02:34] stsewd commented on #1371
tested this without extra plugins, so some runtime file is maybe activating it.

[2021-07-10 02:38] charbelnicolas commented on #1371
![20210709_213743](https://user-images.githubusercontent.com/14960414/125149320-01b6bc00-e0fe-11eb-9009-9434f78d653a.png)

Syntax comes up empty here...

[2021-07-10 02:46] sainnhe commented on #1528
Very sorry, the minimal vimrc is missing some plugins, here is a new minimal vimrc that can reproduce this bug:

- **mini.vim**

[code]
- **test.ts**

[code]

Steps to reproduce:

1. Run `nvim -u mini.vim test.ts`
2. Place the cursor on line 1 `myvar`

---

Sorry I used to think that this bug was caused by treesitter because the red highlight is provided by tree-sitter and it only appeared in type

[2021-07-10 02:59] stsewd commented on #1371
I still get the stricken text after setting `syntax off`, so isn't related, but still problem worth tracking...

[2021-07-10 03:04] stsewd opened #1544 "Syntax is enabled after changing/setting the filetype"
Opening any html file will get vim's syntax and treesitter highlight, this is without any other plugins enabled

**To Reproduce**

Steps to reproduce the behavior:

- Open the `test.html` file
- `:set syntax?` returns html

[code]

**Expected behavior**

`set syntax?` should be empty.

This probably comes from neovim's runtime files, but worth tracking somewhere.

[2021-07-10 03:05] sainnhe commented on #1528
I just found that this bug is also related to vim-polyglot, these four plug-ins are indispensable:

[code]

[2021-07-10 03:43] stsewd commented on #1371
I think this has to do with the parser capturing whitespaces as tokens and/or nvim not handling extmarks over spaces correctly.

[2021-07-10 05:44] stsewd commented on #1371
This fixed the problem for me on the file I was testing https://github.com/stsewd/tree-sitter-html/commit/e978f539b0ea7f49f71d261bd342c70082a6b04a

Can someone test if this also fix the problems for other languages that embed html? You can edit the `lua/nvim-treesitter/parsers.lua` file with

[code]

And edit the lockfile

[code]

Sent a PR https://github.com/tree-sitter/tree-sitter-html/pull/27

[2021-07-10 07:43] sfbr opened #1545 "E5108: Error executing lua [string ":lua"]:1: attempt to index a boolean value [/nvim-treesitter/plugin/nvim-treesitter.vim:15]"
I have tried everything; all dependencies are available (tree-sitter, git, gcc, neovim with ABI 13), I included only 'c' as a language to install, installed fresh a million times, made sure I had LuaJIT 2.1-beta3 as the installer would suggest... I can't convince nvim-treesitter to stop indexing a boolean.

I'm seeing from some sources that `require` returns a boolean under certain circumstances (

[2021-07-10 08:40] zealot128 commented on #1520
I've made some progress and got the parser installed.

- I've just checked out the repo, ran ``tree-sitter generate`` which only changed minor things in parser.h
- Then, I've loaded the script:

[code]

Then, TSInstall or TSInstallFromGrammer ran without error.
Now, I've installed the Playground, but the parser window is empty... so I guess it did not match the file type with the parser.
After mak

[2021-07-10 08:49] zealot128 commented on #1520
It works good for now with a minimum set of queries. But I think the parser needs more work. Missing several pieces of the syntax... Time to jump into the grammar stuff...

![Bildschirmfoto 2021-07-10 um 10 48 15](https://user-images.githubusercontent.com/147175/125157632-71639000-e16c-11eb-96cc-1706de7bb2ca.png)

[2021-07-10 08:52] vigoux commented on #1520
For filetype detection, we have a directory in the plugin named `ftdetect` where we have several files to detect filetypes, you should add you filetype detection here.

[2021-07-10 09:12] clason commented on #1520
Random drive-by thought: Would it be possible to create a fake `vimsyntax` parser that just pipes the text through vim (with a `filetype` annotation)? You could then inject that into a tree-sitter context.

(It wouldn't work for the reverse: embedding tree-sitter parsed regions into a non-tree-sitter parsed file, but still?)

[2021-07-10 09:41] haolian9 opened #1546 "wrongly treat UPPER class as constant highlight group in some cases."
editing the following python snippet in nvim 0.5, **RED**, URL, URLL has same color, but  URL, URLL should be same with **URLLL**.

![20210710_173309](https://user-images.githubusercontent.com/6236829/125158674-231eb300-e1a5-11eb-9dd9-752823583b68.jpg)

the highlight captures of RED
![20210710_173343](https://user-images.githubusercontent.com/6236829/125158705-69741200-e1a5-11eb-888e-f8182b419fdc.

[2021-07-10 09:55] haolian9 commented on #1441
there is a special case for `(#match? @type "^[A-Z].*[a-z]")` needs to consider.

[code]

@theHamsta

[2021-07-10 10:13] haolian9 commented on #1441
i think the quick yet dirty fix is:

[code]

eventually, I think it is better to keep the APP as constant for now; as soon as https://github.com/neovim/neovim/pull/14932 has been merged, user can do what they want

[2021-07-10 12:36] antonk52 opened #1547 "Inconsistent highlighting for JSX opening elements and class identifiers"
**Describe the bug**

Currently some nodes are marked as `@constructor` or `@type` based on the first character register which may be suboptimal.

I came across this issue when got confused when saw that `foo` and `Foo` get different marks within jsx nodes, ie `<foo />` & `<Foo />`

Please see `JSXElementName` section from the original [spec](https://facebook.github.io/jsx/#syntax). It seems that

[2021-07-10 14:44] stsewd commented on #1545
@sfbr can you provide the file you are using and a minimal init.vim?

[2021-07-10 15:26] zealot128 commented on #1520
I've made some good progress with the pug parser:

https://github.com/zealot128/tree-sitter-pug/

- inline Javascript with injection queries for all "{{ }}" and vue-like attributes "v-foo", ":foo"
- pipes as Content blocks

I've added those queries to my after/queries folder:

highlights:

[code]

injections:

[code]

I've also added a ``ftdetect/pug.vim`` with:

[code]

Now, that works great for

[2021-07-10 18:41] thedelchop commented on #1405
FWIW, the issue is triggered when an .exs file contain a HEREDOC string.  This example, without `telescope` installed and `syntax` set to off, always produces the error:

[code]

while this never does:

[code]
I can also confirm that this error only appeared after I had installed `elixir-vim` and persists even after removing `elixir-vim` and re-installing `nvim-treesitter`.  I can't seem to grasp

[2021-07-10 19:06] stsewd commented on #1405
@thedelchop thanks for providing the file to test this, but I wasn't able to replicate this even installing vim-elixir. Can you try replicating this with a minimal init.vim?

[2021-07-10 19:10] sfbr commented on #1545
The name of my treesitter config lua file conflicted with the plugin itself... renamed to "treesitter-conf.lua" and the problem was solved.

[2021-07-10 19:10] #1545 closed

[2021-07-10 19:20] stsewd commented on #1544
This comes from https://github.com/neovim/neovim/blob/0b64d5ecd1e6c0c57e6effe641ae15a3e35a1b8f/runtime/scripts.vim#L289-L289

[2021-07-10 19:32] stsewd commented on #1544
so, looks like that after setting the file type, the syntax is changed as well :/ (with `syntax on`), I'll see if this can be overridden with an autocomand.

[2021-07-10 19:48] thedelchop commented on #1405
@stsewd I still see the error, using that file, with this minimal init.lua file:

[code]
And I also wiped out my `~/.local/share/nvim` and `~/.local/.cache/nvim` directories and reinstalled `neovim`.

[2021-07-10 20:02] thedelchop commented on #1405
@stsewd just to be sure, did you update your elixir parser for TS?

[2021-07-10 23:33] stsewd commented on #1405
I was able to replicate this with that minimal init.vim. Actually, I'm able to replicate with my init.vim, but the message was being hidden. I thought this was being shown as a lua error, but it's shown as a message `:messages`

[2021-07-11 00:13] stsewd commented on #1405
there is an invalid capture group in elixir highlights' queries, not sure how the CI passed...

[2021-07-11 00:31] stsewd commented on #1405
https://github.com/nvim-treesitter/nvim-treesitter/pull/1551 should fix this, also, I think that what you actually want for these queries is a new group like `string.delimiter`

[2021-07-11 00:51] stsewd commented on #1405
BTW, the highlight queries make use of `_` instead of  `(_)` and they give a syntax error in the playground, I asked more information about the difference in https://github.com/tree-sitter/tree-sitter/issues/1253

[2021-07-11 00:58] steelsojka commented on #1111
I don't think anyone is actively working on a parser that can support this syntax. The current architecture  can support the injections but we need a parser that can support css syntax with JS template strings.

[2021-07-11 01:00] thedelchop commented on #1405
@stsewd Awesome, thank you so much.  I am trying to learn more about tree sitter as it seems pretty cool, but I'm still kind of a newbie.  I'll try to setup the playground and see what I can find.

[2021-07-11 02:54] stsewd commented on #1547
Agree that we should use the context around the identifier when possible, instead of trying to guess based on the casing.

[2021-07-11 04:42] stsewd commented on #1506
Looks like the error comes from `iter_captures` when the range is changed

test file:

[code]

lua code:

[code]

getting the captures for the whole doc gets the correct results, but change it to `iter_captures(node, 0, 1, 3)` and it returns invalid captures.

[2021-07-11 11:53] mateusdeap commented on #1532
@theHamsta Awesome. I'll take a look into it and get back to you. Sorry for the late response

[2021-07-11 13:13] creasty commented on #1542
Okay, I'll try... but It'll take some time since I use 47 plugins and the lazy loading feature of a plugin manager.

@elianiva Could you elaborate on how vim-matchup caused the issue? I need to know what to look for.

[2021-07-11 20:06] #1546 closed

[2021-07-11 20:15] haolian9 commented on #1546
great, thanks for quick fix!

[2021-07-11 20:22] stsewd commented on #1371
PR was merged upstream, but the problem is still present (but a little less noisy), closing in favor of https://github.com/nvim-treesitter/nvim-treesitter/issues/1506#issuecomment-877740522

[2021-07-11 20:22] #1371 closed

[2021-07-11 20:59] #1405 closed

[2021-07-11 21:15] theHamsta commented on #1405
@stsewd the CI does not test parsers that require npm

[2021-07-11 21:26] jameschensmith commented on #1405
Just ran into this same error message in Nix files. The `string.special` fix will most likely address it, as the comments in #1551 note. When I get a chance to validate the fix, I'll post an update here :+1:

[2021-07-12 04:16] stsewd commented on #1506
So, digging a little more into this bug, what I found is that it looks like the predicates are being ignored when the range is changed in `iter_captures`. If you remove the predicates (match, eq, etc) from the `(generic_command)` queries, you get the result you see when moving the cursor. Well, that's a hint if someone wants to dig into the neovim code :D

[2021-07-12 12:28] JRasmusBm opened #1559 "Build a syntax for git-commit-tree"

[2021-07-12 14:27] stsewd commented on #1559
Hi @JRasmusBm, can you provide more information? What's this syntax used for? Is there a specification?

[2021-07-12 15:29] JRasmusBm commented on #1559
Oops wrong repo 🙈 Thanks for following up! 😄

[2021-07-12 15:29] #1559 closed

[2021-07-12 19:45] iapicca opened #1560 "Failed to create the file tree-sitter-cuda.tar.gz: Permission denied"
**Describe the bug**

I just installed `LunarVim` and at startup I get the error in the log and in the screenshot
I tried w/ - w/o vpn , restarting my machine, same result, my connection works just fine

### Relevant log output

[code]

[code]

[code]

<details>
<code>

![image](https://user-images.githubusercontent.com/45637986/125205795-aa932180-e28c-11eb-8bdb-3604232f307b.png)

</code>
</detail

[2021-07-12 20:12] theHamsta commented on #1560
That's weird. We're actually checking whether we have permissions before we download.

What does `:lua print(require'nvim-treesitter.utils'.get_cache_dir())` return on your machine?

[2021-07-13 04:55] iapicca commented on #1560
it outputs '/home/yakforward/.local/share/nvim'

that doesn't seem to exist

[code]

#

manually creating folder `mkdir -p  ~/home/yakforward/.local/share/nvim`
doesn't fix the issue
[code]

[2021-07-13 04:58] K4LCIFER opened #1563 "Some Python keywords are not being highlighted."
**Describe the bug**

Some keywords (`in`, `or`, `not`)in python are not being highlighted.
![image](https://user-images.githubusercontent.com/7829231/125392886-cdd8d200-e35b-11eb-847f-7bbc3d90b77b.png)

**To Reproduce**

1. Edit a python file
2. Observe that the keywords as listed above are not being highlighted

**Expected behavior**

I expect those keywords to be highlighted just like `for`,  `

[2021-07-13 07:07] tom-anders opened #1564 "Customize folding to fold only certain blocks (e.g. only functions)"
**Is your feature request related to a problem? Please describe.**

`foldexpr=nvim_treesitter#foldexpr()` seems to fold pretty much everything, e.g. namespaces, classes, if-statements, even case-blocks (Using C++ as an example here). This means there are a LOT of folds.

**Describe the solution you'd like**

A way to customize what gets folded. Something like `fold = { "class", "function" }`. Mayb

[2021-07-13 07:14] tom-anders commented on #1564
Ah, by digging around a bit in the repo I found that this can be customized via `queries/<language>/folds.scm

I think this should at least be added to the documentation. But customizing via lua would still be nice IMO.

[2021-07-13 07:22] theHamsta commented on #1563
They have the highlight `TSKeywordOperator` which is default mapped to `Operator`. You can map it to `Keyword` to have the same highlight as other keywords.

Nvim-treesitter/playground has a command `TSHighlightCapturesUnderCursor` to discover which highlights are being used.

[2021-07-13 07:25] theHamsta commented on #1564
I think it could be done by abusing the queries of nvim-treesitter/nvim-treesitter-textobject. Otherwise we have no language independent notion what a function/class is.

[2021-07-13 08:04] ecnerwala opened #1565 "Fold bare compound statements in C/C++"
C and C++ permit bare (top-level) compound statements (brace-enclosed blocks), typically used to introduce temporary local scopes. Bare compound statements should be identified as folds like other block structures. This is a little nontrivial, because the `compound_statement` node is also used for the bodies of if/for/while statements, but we probably do not want mostly-redundant folds when people

[2021-07-13 08:42] ecnerwala opened #1567 "Folding C/C++ `else if` is unnatural"
**Describe the bug**

Folding an else-if clause is pretty unnatural: an if/else-if/else-if/else-if/else block is parsed as a nested sequence of if/else(if-else(...)) blocks, which makes sense for the grammar but not for humans reading the code. This creates the observed behavior that fold is created for each "suffix", except not for the trailing else block, which feels both unnatural and a little

[2021-07-13 08:45] ecnerwala commented on #1565
Actually, it looks like vim's builtin `foldmethod=syntax` folds exactly on `compound_statement`s, so maybe the only-`compound_statements` suggestion isn't quite so bad.

[2021-07-13 08:50] ecnerwala opened #1568 "Indent: In C/C++, `o` doesn't work in else statements"
**Describe the bug**

In C/C++, pressing `o` on an `else` line doesn't cause the new line to be indented.

**To Reproduce**

Steps to reproduce the behavior:

1. Edit
[code]
2. Go to line 4 and press `o`.

**Expected behavior**

New line is created indented one line.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

health#nvim_treesitter#check
======================================

[2021-07-13 11:07] mateusdeap commented on #1532
Oh, also forgot to mention: I'm on Ubuntu 21.04. Later today I'll try to check if the parser is where it should be

[2021-07-13 12:13] mateusdeap commented on #1532
Ok. So I copied the elixir.so provided in the parser folder for gcc-x86_64 in the parser folder where the treesitter plugin is installed for nvim. It did not work. However, I'll try to recompile nvim with some extra care and see if I can get it to work. I'll reopen this in case it doesn't

[2021-07-13 12:13] #1532 closed

[2021-07-13 12:53] oryband opened #1569 "Number column background color is the same as primary background, except if relativenumber"
- Should the number column be the same color as the primary background color? IIRC it should be a different one, like the background color of the lines with the relative number in the screenshot.
- The `relativenumber` background is different than the other lines.

![image](https://user-images.githubusercontent.com/115387/125454792-24953a3f-f6a0-47ea-976b-84f564cf09e0.png)

[2021-07-13 13:13] gegoune commented on #1569
I don't think that has anything to do with treesitter. Did you mean to submit to your colorscheme repository tracker instead?

[2021-07-13 13:15] theHamsta commented on #1569
I don't think this is related to our repo. This is either a issue with your color scheme or a rendering issue upstream Neovim. We don't set own highlights and just link to existing ones

[2021-07-13 17:57] theHamsta commented on #1547
Aren't all these capitalized names React components with the same name? For me type makes sense.

[2021-07-13 18:10] theHamsta commented on #1560
You have to help me a bit with what's going on? In this function you could just return `"/tmp"`. Would that work?

https://github.com/theHamsta/nvim-treesitter/blob/f16edf23729c83d3c7e65f62d56531789896e42d/lua/nvim-treesitter/utils.lua#L52-L62

For me, `:lua print(vim.loop.fs_access('/nonsense/path', 'RW')` returns false.

Maybe you had a typo in
[code]
and you wanted to do
[code]
this instead?

[2021-07-13 22:05] antonk52 commented on #1547
JSX is not exclusive to react. JSX is also a feature of angular and vue. It is also a part of languages such as typescript and coffeescript.

The problem I see with the components being assigned `TSType` group is that then they have to share this group with other things that may be present in the file, for example for flowtype or typescript users this can be confusing.

Since jsx is practically mi

[2021-07-14 04:38] K4LCIFER commented on #1563
@theHamsta I'm not entirely what you are specifically referring to to modify. Are you talking about the `python.vim` file?

[2021-07-14 05:15] beesdotjson opened #1573 "Python: [ in string causes indent on following lines"
**Describe the bug**

"[" anywhere on a line is treated the same as an opening [ and upon pressing enter, the next line is indented.

**To Reproduce**

Steps to reproduce the behavior:

1. Type `"["` (quotes included) on a line, optionally add text around it
2. Press enter

**Expected behavior**

The next line should not be indented.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

[2021-07-14 07:40] theHamsta commented on #1563
Try to put this in you vimrc or python.vim file
[code]
If your colorscheme overrrides your definition try
[code]
or
[code]
if you want to apply this change only to Python (and not to `new` `delete` in C++)

[2021-07-14 09:03] linkinmedo commented on #94
I really wonder why this is closed, I still have this issue to this day.

[2021-07-14 11:31] elianiva commented on #1542
I was loading vim-matchup *after* the startup, I was loading it on `CursorMoved` event.

You could try binary search your configurations and see if the issue disappear, that's what I did to find the problem

[2021-07-14 13:19] sainnhe opened #1574 "Lose highlight on setlocal ft=typescript"
**Describe the bug**

---

I installed nvim-treesitter and `itchyny/vim-cursorword` (this plugin is used to highlight the word undercurrent cursor), the highlight will break on `setlocal ft=typescript`. See below, I'll explain this bug in detail with screenshots.

**Note that** this bug can also be reproduced using `coc-highlight` which is also used to highlight the word under current cursor, chec

[2021-07-14 13:21] sainnhe commented on #1528
This bug is related to vim-doge because vim-doge will set the filetype on some events, it's not really a vim-doge's bug.

I opened a new issue to track this bug, see https://github.com/nvim-treesitter/nvim-treesitter/issues/1574

[2021-07-14 13:21] #1528 closed

[2021-07-14 16:22] charbelnicolas commented on #1494
I can see that html files no longer have this issue but svelte files still show the weird lines.

HTML:
![20210714_111736](https://user-images.githubusercontent.com/14960414/125656726-ece99bac-d6d3-4335-9ee9-8f4b323df7c0.png)

SVELTE:
![20210714_111804](https://user-images.githubusercontent.com/14960414/125656784-a723eef4-655e-41b5-bc86-2659e9ce502d.png)

Is there a quick fix for svelte seeing htm

[2021-07-14 16:32] stsewd commented on #1494
@charbelnicolas the issue is still present, but it's less noisy on html files, see https://github.com/nvim-treesitter/nvim-treesitter/issues/1506. Also, could you please provide the svelte file to test in the other issue?

[2021-07-14 16:39] theHamsta commented on #1574
Hi, maybe https://github.com/nvim-treesitter/nvim-treesitter/pull/1505 in conjunction with the associated Neovim PR will help?

[2021-07-14 16:40] stsewd commented on #1574
Can you test if https://github.com/nvim-treesitter/nvim-treesitter/pull/1550 solves this problem?

[2021-07-14 16:47] iapicca commented on #1560
@theHamsta
I apologize for being a pain, I really have close to no experience with nvim in general
any existing setting comes from `lunar vim` as mentioned above

in its [install.sh](https://github.com/ChristianChiarulli/LunarVim/blob/rolling/utils/installer/install.sh)
the `nonsense path`

 seems to be some sort of temporary directory to install [packer](https://github.com/wbthomason/packer.nvim)

[2021-07-14 16:59] theHamsta commented on #1560
[code]
those commands don't make sense they have `~` and `/home` in them. So I assume `/home/yakforward/.local/share/nvim` just exists and it is the default nvim data directory.

nvim-treesitter will be installed somewhere here
[code]
either in the `opt` or `start` subdirectory.

What happens when you run `:TSInstall all`? Will it yield the exact same error? Can you edit the function https://githu

[2021-07-14 17:09] stsewd commented on #94
@linkinmedo please open a new issue with the steps and files to reproduce the problem with a minimal init.vim

[2021-07-14 17:24] iapicca commented on #1560
<details>
<summary>logs</summary>

[code]

</details>

#

[code]

this is beyond my current capabilities

[2021-07-14 17:44] charbelnicolas commented on #1506
Here is a svelte file for testing as requested by @stsewd

[SVELTE FILE](https://charbelnicolas.com/files/Player.svelte)

This one is quite decorated with many lines!

![20210714_124402](https://user-images.githubusercontent.com/14960414/125668116-0bce61cd-3a0d-4d90-866c-1cef42c5c96e.png)

[2021-07-14 17:56] theHamsta commented on #1560
Did you check the actual permissions of that folder? You now have the exact arguments of the curl call. You should be able to find the reason why it fails. Did you run install.sh as root?

How else can I help you?

[2021-07-14 18:44] K4LCIFER commented on #1563
@theHamsta Thanks! Applying `autocmd FileType python highlight link TSKeywordOperator Keyword` fixed the issue as seen here:
![image](https://user-images.githubusercontent.com/7829231/125675682-2d9d9800-2da3-4fd4-9d79-0bc19bb392b5.png)

However, I must say that this really feels like it should be built in functionality, as this feels a lot like a work around to a bug.

[2021-07-14 19:25] theHamsta commented on #1563
It's only because your filesystem has no highlights for operators. There were two kind of people that wanted to have wordy operators to have the operator highlight (so that `&&` and `and` would look the same) and others that wanted to have them keywords. This is why we have a separate highlight group for that. Each user and color scheme can decide how they should look like.

[2021-07-14 19:25] #1563 closed

[2021-07-14 19:31] theHamsta commented on #1567
I agree. I think the only way how this could be handled would be to define folds for `ifs` that whose parent is not a `else` block. One would have to hard code folds for a fixed numbers of else blocks.  Another solution would be to change the grammar of the parser to have the notion of a `else if`.

[2021-07-14 19:37] theHamsta commented on #1565
You can change the folds in your personal config via
[code]

I personally like also `(_) @fold` for most languages.

I personally also wanted to have `compound_statement` in the beginning. But after some discussion it was decided to have them on the semantic level which has also some arguments. `foldmethod=syntax` can't do anything really sophisticated so I wouldn't count that as an argument.

It'

[2021-07-15 01:17] ECon87 opened #1576 "Nvim-Treesitter colors for R script not showing"
**Describe the bug**

When in normal mode, the color highlighting is not showing in R scripts (i.e., filetype=r) for the sonokai and gruvbox-material color-schemes.
However,  I can see the color highlighting when I am in visual mode (see pictures below).  Other color-schemes work fine with R and nvim-treesitter. The maintainer of sonokai and gruvbox-material twas able to replicate but thinks is an

[2021-07-15 11:43] sainnhe commented on #1574
@theHamsta @stsewd Great work! I just tested them on my machine, both of these two branches fixes this bug.

Are these PRs ready to be merged

[2021-07-15 14:23] obnoxiousnerd commented on #1418
@77anshuman I am also having the same issue. Can you clarify what changes you made to make it work? Which `gcc` are you using? The one from TDM-GCC, or from MSYS2, or are you using `clang`?

[2021-07-15 21:13] christianparpart opened #1577 ""/usr/share/nvim/runtime/lua/vim/treesitter/query.lua:347: No handler for any-of?""
Hey,

since a OS update last night my neovim (latest master branch) keeps blaming at me like so:

![image](https://user-images.githubusercontent.com/56763/125853178-c60fe4d3-6b6e-4055-96f5-ca18785f8843.png)

Updating neovim, fully recompiling, updating respective python module, updating treesitter and reinstalling c/cpp plugins, nothing helped. I am kinda clueless what to do from here on.

What do

[2021-07-15 22:20] theHamsta commented on #1577
You're sure the latests master get's executed and not another hidden Neovim version (`/usr/share/` looks like a system installation of Neovim)? The message basically tells you that your runtime files are outdated. You can grep you Neovim runtime and the one from git for `any-of?` and compare.

[2021-07-16 03:53] obnoxiousnerd commented on #1091
I tried to compile the parsers using `mingw-w64-clang-x86_64` on MSYS2 and now it works perfectly. I am not sure why `gcc` compiled parsers don't work, but `clang` compiled parsers work

[2021-07-16 05:35] kdurant opened #1578 "Why not support markdown?"
[tree-sitter-markdown](https://github.com/ikatyang/tree-sitter-markdown)

[2021-07-16 05:53] christianparpart commented on #1577
For some reason, my `$HOME/bin/vim` pointed to `/usr/bin/nvim` and not `/usr/local/bin/nvim`. Fixing my symlink fixed it. :facepalm:  Wow. Many thanks, and sorry for the inconvenience. It's a really nice & helpful project ;-)

[2021-07-16 05:53] #1577 closed

[2021-07-16 05:55] Joakker commented on #1578
Iirc, there's still some kinks to be ironed out from that implementation, which is why it hasn't been introduced yet into this repo

[2021-07-16 06:38] theHamsta commented on #1578
It was in the repo but the parser causes defaults and will crash Neovim. See #1202

[2021-07-16 13:40] vaga commented on #1506
Same here in vue file:
![Screenshot 2021-07-16 at 15 38 20](https://user-images.githubusercontent.com/1078179/125957000-e37b65a0-95db-4c56-931a-f8cda5490f9b.png)

[2021-07-16 17:39] stsewd commented on #1578
Please subscribe to https://github.com/nvim-treesitter/nvim-treesitter/issues/872

[2021-07-16 17:39] #1578 closed

[2021-07-16 18:38] synek commented on #1564
@tom-anders any chance you can share some links to your "digging around" so that others can also figure it out? I would find it very helpful! :)

[2021-07-16 18:56] theHamsta commented on #1564
I guess you basically want to do the inverse of this PR: https://github.com/nvim-treesitter/nvim-treesitter-textobjects/pull/60

Right now the folding algorithm has `folds` and `@fold` hard-coded. But it could just be the default like for the PR I mentioned. Then, you could configure it to `textobjects` and `@function.outer` and then it would fold at functions.

As you can see, I didn't finish the

[2021-07-16 20:02] tom-anders commented on #1564
Sounds cool, I'll take a look when I have some time in the coming weeks :)

@synek right now you can basically just delete the hard coded stuff from queries/yourLanguage/folds.scm that you don't care about (e.g. loop, namespace etc.)

[2021-07-16 20:39] theHamsta commented on #1564
You can also set the queries manually `:h set_query`

[2021-07-17 05:06] stsewd commented on #1576
Hi, I think this may be to the vim syntax being activated. Can you try this branch https://github.com/nvim-treesitter/nvim-treesitter/pull/1550?

[2021-07-17 05:08] stsewd commented on #1568
Hi, the indent module is experimental and incomplete, you can try checking the java queries and see what's missing for c++

https://github.com/nvim-treesitter/nvim-treesitter/blob/master/queries/java/indents.scm

[2021-07-17 05:08] kdnk commented on #994
FWIW, this was fiexed just running `brew reinstall neovim` for me.

[2021-07-17 08:39] iapicca commented on #1560
turns out the problem was nvim being installed with `appimage`
you may want to consider a warning or stuff like that

this solved the issue for me
[code]

[2021-07-17 08:39] #1560 closed

[2021-07-17 09:11] theHamsta commented on #1560
I also had problems using Tree-Sitter when using the snap package as certain symbols from the LIBC seemed to be missing.

[2021-07-17 10:00] iapicca commented on #1560
I hoped appimage to be better, I avoid snap when I can, for a number of reasons

[2021-07-17 11:17] creasty commented on #1542
I've figured out that it has to do with https://github.com/windwp/nvim-ts-autotag being lazy-loaded only for certain filetypes.
Changing it to be loaded at the startup solved the problem.

https://github.com/creasty/dotfiles/commit/53e16622a940b93c7bd9136aac107e88d01a08dc

Thanks for the help.

[2021-07-17 11:45] theHamsta commented on #1560
Maybe the AppImage was imposing some access right issue that couldn't be detected by regular `fs_access`. But we're also using AppImage on our CI and it's working. I have to try bit out in conjunction with the lunar I'm script

[2021-07-17 13:29] ECon87 commented on #1576
Hi,

thanks for responding. It kills my syntax highlighting completely. But I might be doing it wrong.

It's so weird that it only happens for R scripts

[2021-07-17 15:55] stsewd commented on #1576
@ECon87 can you share the file you are using to test?

[2021-07-17 15:56] #1542 closed

[2021-07-17 16:13] stsewd commented on #1574
@sainnhe just waiting for the neovim PR to be merged, everything else should be ready.

[2021-07-17 16:27] max397574 commented on #1467
I think that if you use this command `:hi SpellBad ctermfg=red`you just change the foreground. The rest of the settings of the highlight group doesn't change. That's why you still have the underline. You could try it with `:hi clear SpellBad`and then whatever you want to do.
For me it only works if I then use `:hi SpellBad **gui**fg=red`
But I haven't yet understood the difference between the `gui

[2021-07-17 16:52] ECon87 commented on #1576
Sure thing (I hope you mean my init and R script). I am using Alacritty but I get the same behavior in the XFCE terminal.

First, here is a minimal init.vim

[code]

And here is a minimal R code.

[code]

[2021-07-17 20:39] stsewd commented on #1576
@ECon87 thanks. Looks like this is the same problem as https://github.com/nvim-treesitter/nvim-treesitter/issues/1544.

Your file looks like this with tree-sitter only syntax using oceancnext

![Screenshot-20210717153008-641x311](https://user-images.githubusercontent.com/4975310/126048696-c5068611-95ac-472a-98d6-506bc87ba9bb.png)

But that's because that theme is defining those HL groups to look l

[2021-07-17 20:39] #1576 closed

[2021-07-17 23:22] stsewd commented on #1569
Was already mentioned in https://github.com/RRethy/nvim-base16/issues/16 that's the current behavior of the theme.

[2021-07-17 23:22] #1569 closed

[2021-07-18 01:00] stsewd commented on #1574
Closing this in favor of https://github.com/nvim-treesitter/nvim-treesitter/issues/1544

[2021-07-18 01:00] #1574 closed

[2021-07-18 10:38] oryband commented on #1569
Thanks for the response people. Got you.

[2021-07-18 12:46] nsotelo commented on #959
For anyone who comes across this issue, you can resolve this by adding the following to your vim config.
[code]

I'm using the to show concealed characters with vim-cute-python and it works, but I have no idea if other plugins will cause issues for treesitter.

[2021-07-18 13:52] theHamsta commented on #959
@nsotelo this will soon no longer work as we want prevent plugins to accidentally activate syntax. See the option `additional_vim_regex_highlighting` (`:h nvim-treesitter-highlight-mod`)

[2021-07-18 16:44] stsewd commented on #1506
Found a fix for this problem, but don't know why neovim was doing that before. PR at https://github.com/neovim/neovim/pull/15126

[2021-07-18 16:44] #1249 closed

[2021-07-18 16:44] #1544 closed

[2021-07-18 16:47] stsewd commented on #871
Maybe this would be fixed by https://github.com/neovim/neovim/pull/15126, but I'm not able to replicate this anymore :/

[2021-07-18 16:51] stsewd commented on #1249
This isn't fixed yet, it needs https://github.com/neovim/neovim/pull/14995, but making this an upstream issue instead.

[2021-07-18 18:48] insidewhy opened #1592 "During insert mode in typescript/javascript, the indentation does not work"
**Describe the bug**

During insert mode in typescript/javascript, the indentation does not work (but using = indents the file correctly).

**To Reproduce**

type this:

[code]

it shows:

[code]

Without treesitter then I get:

[code]

which is also what I get if I highlight the region and press `=` with treesitter enabled.

I have this in my config:

[code]

**Expected behavior**

The code shoul

[2021-07-19 07:29] nsotelo commented on #959
@theHamsta Thanks for the info!

[2021-07-19 19:50] theHamsta opened #1600 "Slow CI on Mac"
Homebrew takes eternities to build Neovim. It would be faster to just download the binary release: https://github.com/neovim/neovim/releases

[2021-07-19 21:28] #1600 closed

[2021-07-20 08:50] kristijanhusak opened #1607 "[Question] Parsing specific file"
Hi,

is there a way to parse specific files with tree-sitter and do queries on them, without opening them up in a buffer?

I want to figure out if I could leverage tree-sitter for [orgmode.nvim](https://github.com/kristijanhusak/orgmode.nvim) parsing, which requires parsing all the org files in specified glob path for purposes of agenda, searching, etc.

[2021-07-20 11:27] insidewhy commented on #1592
When you are editing a preexisting file that is already indented, then sometimes you actually get correct indentation after an `if` but when you type the `}` it doesn't unindent, and the behaviour starts getting even weirder when you use nested if statements (i.e. it unindents to level 2 after the first `}` then to level 1 after the second `}` which is the reverse of what you'd expect.

[2021-07-20 13:40] Alienover opened #1608 "The highlights are not working onload"
**Describe the bug**
The highlights and the playground are not working on nvim launch. But when I run `:TSModuleInfo`, the highlight and playground work.

https://user-images.githubusercontent.com/12182069/126331610-fcb9d6fc-c580-4254-a6bf-1b07445b8f87.mp4

**To Reproduce**
Just open any file with nvim

**Expected behavior**
The highlights and playground should work anytime I launch the nvim.

**O

[2021-07-20 13:51] Alienover commented on #1608
![image](https://user-images.githubusercontent.com/12182069/126335646-598bf24b-905f-448c-b4a5-310d14300e8d.png)
I tried the stable neovim. The issue is still there.

[2021-07-20 16:32] typoon opened #1609 "Variable scope not correct for ruby when using blocks"
**Describe the bug**

Hello!

I am using tree-sitter in my ruby code together with nvim-treesitter-refactor (to get scope highlighting) and am observing an issue with highlighting variable definitions. Since `nvim-treesitter-refactor` is using the `locals.scm` file from `nvim-treesitter` it seems like this would be the right place to post this.

**To Reproduce**

1. Install the `nvim-treesitter-re

[2021-07-21 14:43] trixnz commented on #1396
This was bothering me, as the delay can be quite annoying when switching between many buffers. I'm still fairly new to `nvim` and `nvim-treesitter`, but I decided to take a look and see why it was happening.

My assumption was that the highlights query should only need to be parsed once, and cached for every other buffer that will be opened, but it seems like that isn't the case. Swapping between

[2021-07-21 17:01] RobertBrunhage opened #1612 "Indentation in Dart not working correctly"
**Describe the bug**

I am using the indentation from treesitter and in dart files the indentation doesn't seem to work at all.

for example when making a `Container` in Flutter this happens.

[code]

Instead of

[code]

Not sure where to turn for these kind of issues, so sorry if this is the wrong place to make an issue :)

**To Reproduce**

Steps to reproduce the behavior:

1. Install treesitter

[2021-07-21 21:23] DavidMedin commented on #1254
I was having a similar issue where on Windows and Powershell, I couldn't compile any of the parsers. However compiling in command prompt worked for me, and now my Powershell works. I just can't compile on powershell for some reason. This was with the LLVM clang compiler installed with Chocolaty. I hope I was able to be of some help!

[2021-07-22 02:47] jinh0 commented on #1396
@trixnz can you share this fix of yours? I don't personally have problems with lag switching buffers but it might be a clue in how to fix the general speed problem.

Also, I believe one important aspect about this issue is that, at least in my experience, **the speed of Treesitter varies between languages**. From what I've observed, opening JavaScript and Lua files are incredibly fast, but Typescr

[2021-07-22 06:51] folke commented on #1396
@trixnz I dont' see that slow-down at all, but I did disable treesitter folding. That still has performance issue. Have you tried disabling that?

[2021-07-22 10:43] trixnz commented on #1396
Sure, but I wouldn't advise doing it this way. This was purely speculative changes to see where the bottleneck was. I believe this will break the moment you use more than one query, but as I was only working in a single .ts file with only `highlights.scm`, it satisfied my curiousity.

[code]

I've tried disabling all modules except for highlighting and couldn't get it to go any faster. However, I

[2021-07-22 11:38] jinh0 commented on #1396
I don't have any explicit settings set for treesitter folding and I have my foldmethod as marker. Do I need to explicitly disable folding?

[2021-07-22 11:39] theHamsta commented on #1396
@trixnz I also saw that the queries for highlighting and injections don't get cached like out modules. Eventually, we should upstream our caching logic (we don't loading folding/textobjects/indent queries twice)

I saw that ts_query__analyze_patterns was causing problems, this seemed to be introduced by 0.19.X https://github.com/tree-sitter/tree-sitter/issues/973

[2021-07-22 17:16] kyazdani42 commented on #1019
indentation is still not perfect. I'm really busy lately so haven't had the time to check nvim-treesitter related issues, because my other plugin got a lot of traction and with work and summer ... I'll take a look at indentation if nobody does it first, but when i'll have some time, so that might not be soon i'm afraid :/

[2021-07-22 23:53] BreezyMain opened #1616 "C++ 'new' and 'delete' operator couldn't be showed in correct color for gruvbox colorscheme."
**Describe the bug**

As the title said, the operators of C++ for [gruvbox](https://github.com/morhetz/gruvbox) colorscheme couldn't be showed in correct color.

**To Reproduce**

Steps to reproduce the behavior:

1. Install gruvbox colorscheme.
2. Create a cpp file including 'new' or 'delete' operator

**Expected behavior**

The 'new' and 'delete' operator should be showed in red.

There is gruvb

[2021-07-22 23:56] theHamsta commented on #1616
`new` and `delete` are `TSKeywordOperator` which is default-linked to `Operator`. Link it to another highlight of your choice!

[2021-07-23 00:00] theHamsta commented on #1607
Yes, create a new language tree for your string (`:h languagetree.new()`)

[2021-07-23 00:05] theHamsta commented on #1607
Sorry, when you want to query you probably want to use (`:h Query:iter_matches()`) almost the whole tree-sitter API accepts a string instead of a buffer. So you could either just open background buffers or read your files to strings without opening them in Vim.

[2021-07-23 00:23] BreezyMain commented on #1616
So it's normal behavior? And if yes, how to link it to another highlight?

[2021-07-23 05:40] luiz00martins opened #1617 ""`Error executing vim.schedule lua callback: Failed to load parser: uv_dlopen:`...`undefined symbol: tree_sitter_vim_external_scanner_create`" when trying to run some external tree-sitter parsers"
**Describe the bug**

The error happens only with some parsers. For example, it happens with [tree-sitter-viml](https://github.com/vigoux/tree-sitter-viml) and [tree-sitter-markdown](https://github.com/ikatyang/tree-sitter-markdown), but not with [tree-sitter-norg](https://github.com/vhyrro/tree-sitter-norg).

It appears when opening `:TSPlaygroundToggle`. However, I suspect that the problem is wi

[2021-07-23 06:11] BreezyMain commented on #1616
Thanks for the heads up, I found a way to link the `TSKeywordOperator` to the `Keyword` which makes the `new / delete` operators `GruvboxRed`:

[code]

Although I have solved this problem, I still have one more thing to ask: How to see which group a highlight is linked to (`TSKeywordOperator` is default-linked to `Operator`)

[2021-07-23 08:08] vigoux commented on #1617
Hi, for the vim parser you need to add the `src/scanner.c` file to the list of files kn the parser declaration.

For markdown I think you need to add the `src/scanner.cc` file.

[2021-07-23 08:43] alanlai1234 opened #1618 "broken highlighting"
**Describe the bug**

Highlighting breaks from time to time.(cpp)

**To Reproduce**

Keep editing the file and it will appear.

**Expected behavior**

Highlighting should be formatted and neat.

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>
health#nvim_treesitter#check
========================================================================
## Installation
  - OK: `tree-sitter` fo

[2021-07-23 10:18] theHamsta commented on #1616
Use the command `:TSHighlightCapturesUnderCursor` from `nvim-treesitter/playground` to see how the symbol under the cursor is mapped

This is normal behavior. You can create a PR to change the default from TSOperator to TSKeyword when you think this is a better default https://github.com/nvim-treesitter/nvim-treesitter/blob/05423e75c5229edfd619f3e654851e0073e59d19/plugin/nvim-treesitter.vim#L66 .

[2021-07-23 10:19] #1616 closed

[2021-07-23 15:15] luiz00martins commented on #1617
Thank you @vigoux, this worked.

So, as a rule of thumb, should I always add all of the `*.c` files in `src/` to the list of files?

[2021-07-23 15:17] vigoux commented on #1617
I'd say yes, kind of.

[2021-07-23 15:21] #1617 closed

[2021-07-23 15:24] theHamsta commented on #1617
if present, `binding.cc` is not needed. Upstream tree-sitter only supports the names `parser.c`, `scanner.c` and `scanner.cc` at the moment.

[2021-07-23 15:25] theHamsta commented on #1529
Is this solved?

[2021-07-24 11:07] mfussenegger opened #1621 "Java highlight groups with `.` lead to "Invalid character in group name" messages"
**Describe the bug**

Using vim treesitter highlighting on a Java file that contains certain expressions lead to a `W18: Invalid character in group name` message.

**To Reproduce**

1. Ensure the java highlights.scm file from the nvim-treesitter is in the runtime path
2. Create a java file with the following contents:

[code]

3. Enable syntax highlighting:

[code]

You should see the warning mess

[2021-07-24 12:42] Jacfger opened #1622 "Inclusive and exclusive make-range!"
**Is your feature request related to a problem? Please describe.**
The problem actually comes from matching the functionality of an nvim plugin ```nvim-treesitter-textobjects``` to ```targets.vim```. While defining textobjects using treesitter queries mostly works, there are some limitation around capturing whitespace. One example is in the implementation of ```@parameter.inner``` and ```@paramete

[2021-07-24 14:23] theHamsta commented on #1621
I guess this would be the fix https://github.com/neovim/neovim/pull/14767 Neovim does not have a mapping for the highlight capture `@keyword.return` so it shouldn't blindly transform it to a highlight group

[2021-07-24 14:43] theHamsta commented on #1621
Normally, nvim-treesitter would set a mapping in `hl_map` but a missing entry shouldn't lead to an error

[2021-07-24 16:39] MunifTanjim opened #1624 "Lua Grammar: error with `[[ ]]` in comment"
_Creating the issue here since https://github.com/nvim-treesitter/tree-sitter-lua repo is a fork and doesn't have Issues tab._

**Describe the bug**

`[[ ]]` characters inside comment causes parsing error.

![Peek 2021-07-24 22-29](https://user-images.githubusercontent.com/8050659/126875053-6dbfc4db-1358-418c-9de0-4b85ffa41b53.gif)

**To Reproduce**

- Put this code in a file.

[code]

- Run `:TSP

[2021-07-24 16:49] iamcco commented on #1436
Same issue with typescript file

config:

[code]

Disable nvim-treesitter

[code]

Enable nvim-treesitter

[code]

[2021-07-24 17:46] MaxVerevkin opened #1625 "`vec` in `vector<int> vec(n);` is highlighted as a function instead of an identifier"
**Describe the bug**
Here, `vec` should have the same color as `x` and `y`.
![image](https://user-images.githubusercontent.com/34583604/126876727-f9005f59-4c6b-4690-b2e7-a1b4c33ea8ed.png)

**Output of `:checkhealth nvim_treesitter`**
<details>
health#nvim_treesitter#check
========================================================================
## Installation
  - OK: `tree-sitter` found  0.20.0 (p

[2021-07-24 19:03] theHamsta commented on #1625
The problem is a bit that the tree-sitter parser makes no distinction between a function declaration and this constructor call.

![image](https://user-images.githubusercontent.com/7189118/126878750-c09f0397-4281-4062-a45b-c9840e326fe4.png)

[2021-07-24 19:34] MaxVerevkin commented on #1625
Thanks, I'll open a new issue in `tree-sitter-cpp`.

[2021-07-25 02:34] ECon87 commented on #802
I don't know if this closed or not, but I am still having issues with indent.

[2021-07-25 11:07] theHamsta commented on #1621
No, it's really an issue that Neovim thinks `keyword.return` is a highlight group. The PR should fix it to just not highlight it when there is no mapping.

[2021-07-25 15:38] stsewd commented on #802
There are already some open issues https://github.com/nvim-treesitter/nvim-treesitter/issues/1573  https://github.com/nvim-treesitter/nvim-treesitter/issues/1136. @ECon87 feel free to comment there the problems you have or open a new one if you think so.

[2021-07-25 15:38] #802 closed

[2021-07-25 20:37] HumblePresent opened #1630 "[Question] Does the C parser also parse header files?"
I've been using the highlights module with the C parser and noticed today that it doesn't seem to operate on header files. Is this just a current limitation of the parser or do I need to enable that somehow?

[2021-07-25 20:51] theHamsta commented on #1630
It will operate on all files with filetype C set. When C++ is set it will use the c++ parser.

[2021-07-25 21:00] HumblePresent commented on #1630
So is the filetype determined by the file extension?

[2021-07-25 21:20] theHamsta commented on #1630
It depends on your config but normally vim would set filetypes based on extensions. You also have to have the highlighting module enabled.

You can check the current filetype with `:echo &filetype`

[2021-07-25 21:52] HumblePresent commented on #1630
Yeah it looks like vim considers header files to be `cpp` type. It's working now that I installed the cpp parser. Thanks!

[2021-07-25 21:52] #1630 closed

[2021-07-26 08:16] CaptainKO commented on #1275
https://user-images.githubusercontent.com/32269291/126956146-4486edf2-2535-4795-a5e9-26f601b3356e.mp4

Hi @stsewd, please check this out. I think there must be something wrong with backtick functions.

[2021-07-26 13:04] trixnz commented on #1396
After a little bit more experimentation, I've come to a solution that solves my needs for the time being. I found that `vim.treesitter.query` allows users to override the queries via `set_query` and `get_query` caches the parsed queries globally, rather than per-highlighter instance.

So, when my LSP attaches I warm up typescript/javascript queries by parsing them up and overriding them. Essential

[2021-07-26 20:16] theHamsta commented on #1396
We should really tackle the caching issue ASAP. I have time next weekend but if anyone has time it would be nice to port our caching system (or a better version) to Neovim core. So that highlight queries and injections don't get loaded multiple times.

[2021-07-26 21:00] kristijanhusak commented on #1607
I'll give it a try, thanks.

[2021-07-27 10:40] cryptomilk opened #1632 "Tree-sitter doesn't detect commented out C code using `#if 0 ... #endif`"
**Describe the bug**

Tree-sitter doesn't detect commented out code using `#if 0 .. #endif`

**To Reproduce**

Steps to reproduce the behavior:

This is happening with the following code example:

[code]

nvim with system defaults (no treeseitter)

![nvim-code-01](https://user-images.githubusercontent.com/545480/127140079-ef3a9a9f-892e-4bd8-8961-b862cd1ba847.png)

As you can see by the color, nvim

[2021-07-27 12:42] theHamsta commented on #1632
This can't be done on a syntax level but requires semantic analysis. I would recommend to wait for the LSP semantic tokens PR as it will enable the correct processing of preprocessor macros via clangd (it has access to the compile commands).

I would consider this out-of scope for tree-sitter or our project.

[2021-07-27 13:40] vigoux commented on #1632
I am pretty sure this can be done at syntax level because the `ifdef 0` could is matchable.

I'll try something but this is definitely something we can do.

[2021-07-27 14:26] theHamsta commented on #1632
You could match it to highlight it as a comment. But I don't know whether it's worth to special case the case `#if 0` but it wouldn't solve the issue that tree-sitter get's confused as soon as there is a `#ifdef`

[2021-07-27 14:43] theHamsta commented on #1632
Most compilers let you write
[code]
without any warnings. And clangd will handle all combinations of ifdef correctly in future.

[2021-07-27 17:04] vigoux commented on #1632
After some digging, the C parser for tree-sitter is really bad at handling preproc directives.
Despite that, adding the following to the highlights query should help achieve your objective:
[code]

[2021-07-27 17:32] vigoux commented on #1624
Hi, you should open an issue on the parser upstream, that is [this repo](https://github.com/Azganoth/tree-sitter-lua)

[2021-07-27 18:22] cryptomilk commented on #1632
@theHamsta  yes, you can only display the `#if` or `#ifdef` correctly if you talk to clangd. However '#if 0` is a special case which nvim understands correctly without treesitter. So with tree-sitter this should be the same ;-)

@vigoux Thank you very much but this doesn't work with the above example :-(

If I reduce the example to:

[code]

then only "This" is marked as a comment ...

[2021-07-27 18:31] vigoux commented on #1632
@cryptomilk  That's strange, on my end, this is highlighting everything as a comment...

[2021-07-27 18:32] cryptomilk commented on #1632
I've added it to `nvim-treesitter/queries/c/highlights.scm`

[2021-07-27 18:36] vigoux commented on #1632
Did you add it at the bottom?

[2021-07-27 19:06] cryptomilk commented on #1632
I've added to the bottom and it still doesn't fully work:

![code-01](https://user-images.githubusercontent.com/545480/127213087-23f57a8f-ea20-4e51-885b-7500897eb1ad.png)

![code-02](https://user-images.githubusercontent.com/545480/127213106-823e0f3a-9ec1-46da-af07-722608ec1cb4.png)

[2021-07-27 19:08] vigoux commented on #1632
Yeah this is expected at this point... It'll partly work, because we add a highlight on top of previously defined ones.

[2021-07-27 20:34] theHamsta commented on #1624
--[

]]-- is i guess a Multiline comment. I don't know whether it would be allowed with the space in between

[2021-07-27 22:05] ray-x commented on #1608
Also saw a similar issue. I am using a statement like this as well

[code]

[2021-07-28 09:17] CodePurble opened #1634 "ABI version mismatch for `verilog` parser"
**Describe the bug**

Treesitter for Verilog is not working. When I ran `:checkhealth`, a series of errors citing an ABI version mismatch appear. I have tried running `:TSUpdate verilog` and it is up to date.

**To Reproduce**

Steps to reproduce the behavior:

1. Download the `verilog` parser
2. Open a `verilog` file
3. See error

**Expected behavior**

Working Treesitter highlighting for the `ve

[2021-07-28 09:59] vigoux commented on #1634
Maybe we need to generate it from the grammar then...
Do you have `tree-sitter` (the CLI) installed? If not, install it.

Then run `TSInstallFromGrammar verilog` and tell us if the error is gone.

[2021-07-28 10:08] CodePurble commented on #1634
I've tried it and I still get the same error.

[2021-07-28 10:24] alanlai1234 commented on #1618
is anyone here?

[2021-07-29 07:44] carljohnesan opened #1638 "'Error during compilation' on `TSInstall haskell`"
Sorry for creating this issue, I understand that the bug isn't of nvim-treesitter, but I'm just desperate to get it working for haskell (all other languages were compiled fine).

My OS: macOs 10.13.6 High Sierra
Neovim: 0.5.0

`.vimrc` part regarding tree-sitter:
[code]

`init.vim`:
[code]

This is the output from `:TSInstallSync haskell` (`Sync` part here because output seems to be more informati

[2021-07-30 01:59] aspeddro opened #1642 "julia lang syntax not work"
**Describe the bug**

After installing `julia` the syntax was not applied

**To Reproduce**

`:TSInstall julia`

**Expected behavior**

Syntax applied

**Output of `:checkhealth nvim_treesitter`**

<details>
<code>

[code]

</code>
</details>

**Output of `nvim --version`**

<details>
<code>

[code]

</code>
</details>

My config:

[code]
![image](https://user-images.githubusercontent.com/16160544

[2021-07-30 03:54] stsewd commented on #1642
Hi, what do you get with `:set ft?`, also, can you share the code from the image so we can test it?

[2021-07-30 03:57] stsewd commented on #1638
That looks like your version of the compiler isn't the right one. What c++ compiler do you have in your windows and mac machine? Also, you can try with `cc={another-c++-compiler} nvim` and test with clang or similar.

[2021-07-30 04:21] stsewd commented on #1592
Indent is still experimental, we might want to take a closer look to how atom implements this feature

[2021-07-30 04:32] stsewd commented on #1624
Also, we should probably send this patch upstream https://github.com/nvim-treesitter/tree-sitter-lua/commit/ef637b259e5f7ddb03815eb91459ffa934dfb38e (and any other patches missing) and mark the parser as generate_from_grammar instead of maintaining a fork, or maintain the fork and allow opening issues on the repo.

[2021-07-30 04:35] stsewd commented on #1436
@iamcco can you share the file you are using?

[2021-07-30 04:41] stsewd commented on #1625
I think we may solve this with a query, and only capture top declaration as declarations `(translation_unit . (function_definition ...))`. I don't think you can have declaration inside a scope? Or maybe with c++?

[2021-07-30 04:46] stsewd commented on #1436
Also, this may be the same problem as https://github.com/nvim-treesitter/nvim-treesitter/issues/1396

[2021-07-30 04:52] iamcco commented on #1436
Oh, seems like my issue is same as #1396 , thanks for point it out.

[2021-07-30 04:54] alanlai1234 commented on #1618
turns out to be Coc.nvim problem

[2021-07-30 04:54] #1618 closed

[2021-07-30 05:00] stsewd commented on #1618
sorry for the late reply! yes, you should try disabling some plugins or using a minimal init.vim to see if the problem is from a plugin.

[2021-07-30 05:44] MaxVerevkin commented on #1625
Actually, you can (al least in c++). But it's rare anyway.

@stsewd Where do I place it?

[2021-07-30 05:48] stsewd commented on #1608
I believe this is a problem with packer lazy loading the plugin, if you load the configs at the end of your init.vim/init.lua it should work as expected.

[2021-07-30 05:49] stsewd commented on #1608
If you find the correct way to use packer with this plugin, please update our wiki https://github.com/nvim-treesitter/nvim-treesitter/wiki/Installation

[2021-07-30 09:21] ray-x commented on #1608
I am using treesitter in a more hacky way.  I will check the file size and dynamic load treesitter based on its size.

[2021-07-30 10:41] abellaismail7 opened #1643 "Remove or mention that kotlin parser is slow."
I came here because I can't open an issue in [their repository](https://github.com/tormodatt/tree-sitter-kotlin) which is suspicious!!
I know that Kotlin has dozens of features which makes parsing it harder.
So I did some investigations and I found out that the Kotlin's parser.c is huge ([92M before compiling](https://github.com/tormodatt/tree-sitter-kotlin/blob/master/src/parser.c), 18M after com

[2021-07-30 10:58] theHamsta commented on #1643
It became 10x longer to load with the change from 0.18.X to 0.19.X

[2021-07-30 14:07] aspeddro commented on #1642
fixed

![image](https://user-images.githubusercontent.com/16160544/127665111-9361a950-7722-46b4-9047-7de600a24f79.png)

[2021-07-30 14:07] #1642 closed

[2021-07-30 14:14] Joakker commented on #1643
I have the suspicion that the kotlin parser is so monumentally slow because it translates the [grammar](https://kotlinlang.org/docs/reference/grammar.html) directly, which results in dozens of nodes for even the simplest of constructs. I've been developing a replacement which simplifies the grammar significantly, though it might be a while before it's PR ready

[2021-07-30 16:01] jackfranklin opened #1644 "[svelte] highlighting is lost after cursor moves over lines"
**Describe the bug**

When loading up a svelte file, the syntax highlighting with treesitter seems to be lost when moving the cursor over certain lines.

Additionally at times the syntax highlighting changes to have crossed out text.

Initially when the file is loaded it looks OK:

![highlighting-good](https://user-images.githubusercontent.com/193238/127679054-6c09f81a-b286-48ec-a5de-b6314a87fda9.

[2021-07-30 16:11] theHamsta commented on #1644
This bug has is possibility a duplicate of #1506 . This would be probably a fix: https://github.com/neovim/neovim/pull/15126

[2021-07-30 22:44] MunifTanjim commented on #1624
@vigoux Seeing that the upstream repo is inactive for a long time, can you please apply this patch to [`nvim-treesitter/tree-sitter-lua`](https://github.com/nvim-treesitter/tree-sitter-lua) fork?

https://patch-diff.githubusercontent.com/raw/MunifTanjim/tree-sitter-lua/pull/1.patchhttps://patch-diff.githubusercontent.com/raw/MunifTanjim/tree-sitter-lua/pull/1.patch

cc: @stsewd

[2021-07-30 22:48] theHamsta commented on #1624
Can't you just open a PR? We're out of the times where you would send a diff via email

[2021-07-30 22:52] theHamsta commented on #1624
Didn't mean to offend anybody but PR's just make it easier to follow why a specific patch was merged.

[2021-07-30 22:58] MunifTanjim commented on #1624
None taken 😃 It's just that the workflow is a bit confusing since we need to create a PR on a fork. Making `nvim-treesitter/tree-sitter-lua` independent of the `Azganoth/tree-sitter-lua` repo would make it a bit less confusing, I guess?

Anyway, create the PR:

https://github.com/nvim-treesitter/tree-sitter-lua/pull/5

[2021-07-30 23:01] theHamsta commented on #1624
But it's already independent. @vigoux made it the true version ;-)

[2021-07-31 05:14] mcchrish opened #1646 "Vue highlights everything with vueTsTag"
**Describe the bug**

I'm not sure where to report this issue whether here or https://github.com/ikatyang/tree-sitter-vue.

Example text:
[code]

The highlight is off, everything is bold. The only ones that should be bold are the `TsTag` highlight. Since all nodes including attributes and text are highlighted with `vueTsTag` everything is bold.

<img width="444" alt="Screen Shot 2021-07-31 at 1 04

[2021-07-31 09:16] minhduc0711 commented on #1267
Hmm for some reason I'm still seeing this problem. It does go away when I uninstall `comment`.
I'll be happy to provide any debugging info.

[2021-07-31 09:21] carljohnesan commented on #1638
I have `gcc` of version `9.3.0` on windows wsl2 (so on ubuntu in fact), and `Apple LLVM version 10.0.0 (clang-1000.10.44.4)` on my mac.
Running `cc={another-c++-compiler} nvim` didn't help

[2021-07-31 09:40] theHamsta commented on #1638
Also make sure that gcc has its libstdc++ and does not use whatever your OS provides as libc++

[2021-07-31 12:21] jabra98 opened #1647 "How to stop ALL_CAPS names to be parsed as a constant"
I suppose ALL_CAPS identifiers are automatically added to the TSConstant group. How can I avoid this?

[2021-07-31 13:16] theHamsta commented on #1267
Language injection is still not optimal. There is no incremental parsing of injected languages and the queries of the injected languages. @minhduc0711 but happens your problem only on loading or also when loading is finished.

[2021-08-01 02:05] stsewd commented on #1267
Note for myself: open a new issue with the problem of using `@combined`

[2021-08-01 02:13] stsewd commented on #1647
You'll need to add a custom query for all queries, to something like (for python)

[code]

If you want just to change the color of all constants, you can link the `TSConstant` hl group to anything of your liking.

[2021-08-01 02:59] UzimakiNaruto opened #1649 "Any function to check whether `nvim-treesitter` works in a file?"
I'm use the `incremental selection` feature.

 and i want to remap the keymap in file that treesitter works. keep it as it is in file that treesitter not works.

Now i'm maintained an installed parsers list.
Like

[code]

the `treesitter_installed_parsers` is the list that installed parsers.

1. Do we have any function to check whether treesitter works in a file?
2. Do we have any function to exec

[2021-08-01 06:43] glyh opened #1650 "Custom git clone prefix for language extensions?"
**Is your feature request related to a problem? Please describe.**

I'm trying to install some languages via `:TSInstall`, which clone files from github.

It'll takes forever (because of the censorship of www in my country) so I need to setup some CDN, like replace `github.com` with `hub.fastgit.org`.

However, there doesn't seem to be a config that I can achieve this.

**Describe the solution you

[2021-08-01 09:59] theHamsta commented on #1650
You could program a small loop that just replaces the parser addresses.

[code]
I'm on mobile so code might contain flaws.

[2021-08-01 10:57] theHamsta commented on #1649
https://github.com/theHamsta/nvim-treesitter/blob/d7e509f3cceddcf4cfc02d45562754136852869d/lua/nvim-treesitter/parsers.lua#L693

It's possible to check whether a certain filetype has a parser and there's also a function to check whether a certain module is active. `require "vim.treesitter.highlighter".active[bufnr]` would work to check whether the current file has a highlighter. You can use luaeva

[2021-08-01 12:04] UzimakiNaruto commented on #1649
@theHamsta Thanks 👍 .
The doc is too difficult to found 😢

[2021-08-01 12:17] UzimakiNaruto commented on #1649
@theHamsta It works. Thanks again.

[2021-08-01 13:02] glyh commented on #1650
Thanks a lot, I approach this via fennel (lisp compiled to lua):
[code]

[2021-08-01 13:02] #1650 closed

[2021-08-01 13:30] theHamsta commented on #1650
@glyh feel free to add this information to the installation wiki!

[2021-08-01 14:27] #1649 closed

[2021-08-01 16:32] connorlay commented on #1486
I'm experiencing this issue as well and want to fix it. What can I do to help triage? Has anyone tried isolating which highlight query is causing the problem? If not I can look into it.

[2021-08-01 18:14] theHamsta commented on #1486
Apparently, the queries are to complex. Maybe it's possible to move some of the complexity into parser?

[2021-08-01 18:30] stsewd commented on #1646
This looks like a problem with the query https://github.com/nvim-treesitter/nvim-treesitter/blob/8ab1a5e5f7087c4ed49c42e8d14ecb9d91d58363/queries/vue/highlights.scm#L3-L9

Removing `template_element` should fix your example, I'm not familiar with vue, so I'm not sure about the other elements that are captured as a tag.

Also, you should still see some other captures, that's probably because of htt

[2021-08-01 23:44] connorlay commented on #1486
I took a first pass at removing chunks of the highlights and I did see a significant speed-up once the more complex ones were removed.

Elixir has relatively few special forms and much of the language is built on simple function calls and macros, which the parser itself reflects in the syntax tree that is produced. Compared to JavaScript, the highlight queries for Elixir are very "deep" and have a

[2021-08-02 07:45] luisiacc commented on #1055
This was taken care of on [PR 1572](github.com/nvim-treesitter/nvim-treesitter/pull/1572)

[2021-08-02 07:45] #1055 closed

[2021-08-02 11:26] urbainvaes opened #1654 "Is it possible to get the highlight/syntax group of the text under cursor"
**Is your feature request related to a problem? Please describe.**
Some time ago I wrote [a plugin](https://github.com/urbainvaes/vim-macaw) to interactively change the foreground and background colours of the text under the cursor (or more precisely, of the highlight group to which the text under the cursor belongs), and at the moment the plugin doesn't work with `nvim-treesitter`. Hence my quest

[2021-08-02 12:23] Yarnus opened #1655 "Start up slow when using treesitter highlight for elixir"
**Describe the bug**
When I  set `highlight = {enable = true}`, it takes a long time (mainly in the step `first screen update`) when I open an `elixir` file

e.g:

`nvim test_file.ex --starttime t.log`

![image](https://user-images.githubusercontent.com/18589312/127860337-0dfb42ca-3920-43ba-948e-6b6dd1dd093e.png)

However, if I set 'highlight = {enable = false}', then run `nvim test_file.ex --star

[2021-08-02 13:10] vigoux commented on #1654
Hi, you should try the [playground](https://github.com/nvim-treesitter/playground) ?
There is a command named `TSHighlightCapturesUnderCursor` exactly for that.

[2021-08-02 13:21] vigoux commented on #1624
Yeah I think we use our own version of the parser, mainly to lighten maintaining a bit.

[2021-08-02 13:21] vigoux commented on #1624
Should have been fixed in the parser, waiting on a lockfile update to have that here.

[2021-08-02 13:33] maxxnino opened #1656 "[New] Tree sitter for zig"
## Info

The generated c files only 3,6m which is really small,.
I need help for contribution(more test, highlight, local...)
My repo [tree-sitter-zig](https://github.com/maxxnino/tree-sitter-zig)

## Progress

- [X] Highlight
- [x] Indent
- [x] Fold
- [ ] Local

## Image

![demo](https://user-images.githubusercontent.com/34153891/128273937-9dad6483-d456-4d98-a8f5-625825e369cb.png)

[2021-08-02 13:36] urbainvaes commented on #1654
Thank you very much! I was just about to comment about what you mention in your edit;  it'd be great to have access to `M.get_treesitter_hl()` or something like that -- something that can then be parsed. :)

[2021-08-02 13:40] stsewd commented on #1656
A good test to start would be to port the tests from the other project https://github.com/Himujjal/tree-sitter-zig/tree/master/corpus

[2021-08-02 13:42] vigoux commented on #1654
I'll try to see what I can do.
Maybe we'll be able to create a function that returns the ordered table of the highlights applied.

[2021-08-02 13:44] vigoux commented on #1486
I am highly in favor to simplify the queries then, we want sane defaults for most languages, not huge queries.

[2021-08-02 13:44] #1624 closed

[2021-08-02 13:56] urbainvaes commented on #1654
Many thanks, that'd be great!

[2021-08-02 14:01] vigoux commented on #1573
Can you still reproduce this with the latest python changes about indentation ?

[2021-08-02 14:05] vigoux commented on #1612
Hey, this might have been fixed by some latest changes in how indentation works, could you confirm it is the case ?

[2021-08-02 14:13] vigoux commented on #1520
Great to see you are making progress then !

[2021-08-02 14:42] maxxnino commented on #1656
I try, but it's not right syntax for zig. I need to wrap it in test block. It's good idea to use test in zig-spec. I write a quick and dirty test, seem to pass almost all of them( in zig-spec)

[2021-08-02 15:11] vigoux commented on #1656
Tree-sitter has it's own syntax to writ test cases, and you can run `tree-sitter test` on them right after that.

[2021-08-02 15:25] Yarnus commented on #1655
it seems same to  #1486 . Let me close this current.

[2021-08-02 15:25] #1655 closed

[2021-08-02 15:55] maxxnino commented on #1656
I did it too. Seem to passed all of the test cases. I'm usually using `tree-sitter test -u`. I just need more help to speed up the release

[2021-08-02 17:33] connorlay commented on #1486
Sounds good to me. I'll take a stab at simplifying these queries.

[2021-08-03 06:41] vigoux commented on #1656
Sadly enough, I don't think anybody here is a zig expert unfortunately. We can help for generic tree-sitter questions, but not for zig-specific topics.

[2021-08-03 10:19] carljohnesan commented on #1638
Thank you. Any installations using `brew` takes hours on my system, so I'll just install other OS

[2021-08-03 10:19] #1638 closed

[2021-08-03 11:38] MunifTanjim opened #1659 "Add Predicate for matching based on cousin node's type on same position"
**Is your feature request related to a problem? Please describe.**

In `lua` we can declare function in two ways:

[code]

Highlighting `hello` as `@function` in the syntax sugar version straightforward.

Given the syntax tree:

[code]

The query will be:

[code]

But it becomes impossible for the other syntax. Because in `lua` we can declare several variables at once, like this:

[code]

So, the